Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @belsrc @shadyendless @switzerb

# Design system
/packages/design-system @shadyendless @switzerb @brandonjpierce
/design-toolkit @shadyendless @switzerb @brandonjpierce

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

fix: update colors
  design-toolkit/components/src/components/checkbox/index.tsx
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update colors
  design-toolkit/components/src/components/foundation/colors.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: fix colors
  design-toolkit/components/src/components/radio/index.tsx
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add in the chips
  design-toolkit/components/package.json
  design-toolkit/components/src/components/chip/chip.stories.tsx
  design-toolkit/components/src/components/chip/chip.test.tsx
  design-toolkit/components/src/components/chip/index.tsx
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: add focus styles to the chips
  design-toolkit/components/src/components/chip/chip.stories.tsx
  design-toolkit/components/src/components/chip/index.tsx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add focus styles
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/components/floating-button/index.tsx
  design-toolkit/components/src/components/icon-button/index.tsx
  design-toolkit/components/src/components/toggle-icon-button/index.tsx
  design-toolkit/components/src/components/tooltip/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update storybook
  design-toolkit/components/src/components/button/button.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: added focus styles to the checkbox
  design-toolkit/components/src/components/checkbox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: fix focus styles
  design-toolkit/components/src/components/radio/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

docs: more formatter docs
  packages/formatters/src/iff/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

docs: more math docs
  packages/math/src/clamp/index.ts
  packages/math/src/random/index.ts
  packages/math/src/round/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

docs: more docs for predicates
  packages/predicates/src/is-bbox/index.ts
  packages/predicates/src/is-latitude/index.ts
  packages/predicates/src/is-longitude/index.ts
  packages/predicates/src/is-nothing/index.ts
  packages/predicates/src/is-noyes/index.ts
  packages/predicates/src/is-number/index.ts
  packages/predicates/src/is-something/index.ts
  packages/predicates/src/is-string/index.ts
  packages/predicates/src/is-worker/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

docs: add more docs to temporal
  packages/temporal/src/timers/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: added text field component
  design-toolkit/components/.storybook/preview.ts
  design-toolkit/components/src/components/label/index.tsx
  design-toolkit/components/src/components/label/label.stories.tsx
  design-toolkit/components/src/components/text-field/index.tsx
  design-toolkit/components/src/components/text-field/text-field.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: swap checkbox to outline from border
  design-toolkit/components/src/components/checkbox/checkbox.stories.tsx
  design-toolkit/components/src/components/checkbox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update radio text icons
  design-toolkit/components/src/components/radio/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: swap borders to outlines and add label
  design-toolkit/components/src/components/badge/index.tsx
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/components/classification-badge/classification-badge.stories.tsx
  design-toolkit/components/src/components/floating-button/index.tsx
  design-toolkit/components/src/components/label/index.tsx
  design-toolkit/components/src/components/label/label.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: swap checkbox to use label component
  design-toolkit/components/src/components/checkbox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: swap to use the label component
  design-toolkit/components/src/components/radio/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update the text weights
  design-toolkit/components/.storybook/preview.ts
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add the focus styles for the accordion and fix a bug
  design-toolkit/components/src/components/accordion/index.tsx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: swap to outline and add support for icons
  design-toolkit/components/src/components/chip/chip.stories.tsx
  design-toolkit/components/src/components/chip/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update the text-field to handle the new isClearable property
  design-toolkit/components/src/components/text-field/index.tsx
  design-toolkit/components/src/components/text-field/text-field.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: some cleanup around readonly
  design-toolkit/components/src/components/text-field/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: bring lockfile current
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: formatting and remove test for now
  design-toolkit/icons/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add the switch component
  design-toolkit/components/src/components/switch/index.tsx
  design-toolkit/components/src/components/switch/switch.stories.tsx
  design-toolkit/components/src/components/switch/switch.test.tsx
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: changeset
  .changeset/real-shirts-type.md
  design-toolkit/components/src/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: update the styles for when the switch is disabled
  design-toolkit/components/src/components/switch/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: fix an issue with the keyboard event listener
  design-toolkit/components/src/components/text-field/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add the textarea component.
  design-toolkit/components/src/components/text-area/index.tsx
  design-toolkit/components/src/components/text-area/text-area.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: changeset
  .changeset/shiny-pans-battle.md
  design-toolkit/components/src/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce
