Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @ArrayKnight @belsrc

# Core pacakge
/packages/core @belsrc @brandonjpierce

# Design system pacakge
/packages/design-system @ArrayKnight @switzerb

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

chore: icon
  packages/design-system/src/components/icon/icon.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: input
  packages/design-system/src/components/input/input.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: menu
  packages/design-system/src/components/menu/menu.stories.old.tsx
  packages/design-system/src/components/menu/menu.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: number field
  packages/design-system/src/components/number-field/number-field.stories.old.tsx
  packages/design-system/src/components/number-field/number-field.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: options
  packages/design-system/src/components/options/options.stories.old.tsx
  packages/design-system/src/components/options/options.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: picker
  packages/design-system/src/components/picker/picker.stories.old.tsx
  packages/design-system/src/components/picker/picker.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: popover
  packages/design-system/src/components/popover/popover.stories.old.tsx
  packages/design-system/src/components/popover/popover.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: query builder
  packages/design-system/src/components/query-builder/query-builder.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: radio
  packages/design-system/src/components/radio/radio.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: search field
  packages/design-system/src/components/search-field/search-field.stories.old.tsx
  packages/design-system/src/components/search-field/search-field.stories.tsx
Owners: @ArrayKnight, @switzerb

chore select
  packages/design-system/src/components/select/select.stories.old.tsx
  packages/design-system/src/components/select/select.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: switch
  packages/design-system/src/components/switch/switch.stories.tsx
Owners: @ArrayKnight, @switzerb

adjust styles to align closer to hypergiant.com colors
  apps/docs/docusaurus.config.ts
  apps/docs/src/css/custom.css
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: tabs
  packages/design-system/src/components/tabs/tabs.stories.old.tsx
  packages/design-system/src/components/tabs/tabs.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: text field
  packages/design-system/src/components/text-field/text-field.stories.old.tsx
  packages/design-system/src/components/text-field/text-field.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: text area
  packages/design-system/src/components/textarea/textarea.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: tooltip
  packages/design-system/src/components/tooltip/tooltip.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: tree
  packages/design-system/src/components/tree/tree.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: structure
  packages/design-system/src/styles/surfaces.stories.tsx
  packages/design-system/src/styles/typography.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: actions
  packages/design-system/.storybook/preview.tsx
  packages/design-system/package.json
  packages/design-system/src/components/button/button.stories.tsx
  packages/design-system/src/components/checkbox/checkbox.stories.tsx
  packages/design-system/src/components/chip/chip.stories.tsx
  packages/design-system/src/components/combo-box/combo-box.stories.tsx
  packages/design-system/src/components/dialog/dialog.stories.tsx
  packages/design-system/src/components/drawer/drawer.stories.tsx
  packages/design-system/src/components/input/input.stories.tsx
  packages/design-system/src/components/menu/menu.stories.tsx
  packages/design-system/src/components/number-field/number-field.stories.tsx
  packages/design-system/src/components/options/options.stories.tsx
  packages/design-system/src/components/popover/popover.stories.tsx
  packages/design-system/src/components/search-field/search-field.stories.tsx
  packages/design-system/src/components/select/select.stories.tsx
  packages/design-system/src/components/switch/switch.stories.tsx
  packages/design-system/src/components/tabs/tabs.stories.tsx
  packages/design-system/src/components/text-field/text-field.stories.tsx
  packages/design-system/src/components/textarea/textarea.stories.tsx
  packages/design-system/src/components/tree/tree.stories.tsx
  packages/design-system/src/ladle/actions.ts
  packages/design-system/src/ladle/index.ts
  packages/design-system/src/storybook/actions.test.ts
  packages/design-system/src/storybook/actions.ts
  packages/design-system/src/storybook/index.ts
  pnpm-lock.yaml
Owners: @ArrayKnight, @switzerb, @brandonjpierce, @belsrc

chore: remove unused file
  packages/design-system/.storybook/theme/global-theme-provider.tsx
Owners: @ArrayKnight, @switzerb

chore: build
  .github/workflows/gh-pages.yml
  .ls-lint.yml
  packages/design-system/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: deploy
  .github/workflows/gh-pages.yml
  .gitignore
  packages/design-system/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: lock file
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: more cleanup'
  packages/design-system/tsup.config.ts
Owners: @ArrayKnight, @switzerb

chore: exclude storybook in tscongif
  packages/design-system/tsconfig.dist.json
Owners: @ArrayKnight, @switzerb

chore: remove header from index
  packages/design-system/src/storybook/index.ts
Owners: @ArrayKnight, @switzerb

chore: tweak action import
  packages/design-system/src/components/button/button.stories.tsx
  packages/design-system/src/components/checkbox/checkbox.stories.tsx
  packages/design-system/src/components/chip/chip.stories.tsx
  packages/design-system/src/components/combo-box/combo-box.stories.tsx
  packages/design-system/src/components/drawer/drawer.stories.tsx
  packages/design-system/src/components/input/input.stories.tsx
  packages/design-system/src/components/menu/menu.stories.tsx
  packages/design-system/src/components/number-field/number-field.stories.tsx
  packages/design-system/src/components/options/options.stories.tsx
  packages/design-system/src/components/search-field/search-field.stories.tsx
  packages/design-system/src/components/select/select.stories.tsx
  packages/design-system/src/components/text-field/text-field.stories.tsx
  packages/design-system/src/components/textarea/textarea.stories.tsx
  packages/design-system/src/components/tree/tree.stories.tsx
  packages/design-system/src/storybook/index.ts
Owners: @ArrayKnight, @switzerb

chore: lint
  packages/design-system/.storybook/components.css.ts
  packages/design-system/biome.json
Owners: @ArrayKnight, @switzerb

chore: revert preview script name
  packages/design-system/package.json
Owners: @ArrayKnight, @switzerb

chore: remove chromatic dep
  packages/design-system/package.json
  pnpm-lock.yaml
Owners: @ArrayKnight, @switzerb, @brandonjpierce, @belsrc

chore: remove unnecessary actions setup
  packages/design-system/.storybook/preview.ts
Owners: @ArrayKnight, @switzerb

chore: revert change to theme provider. inline decorator in storybook preview
  packages/design-system/.storybook/components.tsx
  packages/design-system/.storybook/preview.tsx
Owners: @ArrayKnight, @switzerb

chore: fix ts for .storybook dir
  packages/design-system/.storybook/components.tsx
  packages/design-system/.storybook/preview.tsx
  packages/design-system/tsconfig.dist.json
  packages/design-system/tsconfig.json
Owners: @ArrayKnight, @switzerb

chore: exclude event handlers from controls
  packages/design-system/.storybook/preview.tsx
Owners: @ArrayKnight, @switzerb

chore: controlled component stories
  packages/design-system/src/components/button/button.stories.tsx
  packages/design-system/src/components/checkbox/checkbox.stories.tsx
  packages/design-system/src/components/combo-box/combo-box.stories.tsx
  packages/design-system/src/components/input/input.stories.tsx
  packages/design-system/src/components/number-field/number-field.stories.tsx
  packages/design-system/src/components/search-field/search-field.stories.tsx
  packages/design-system/src/components/select/select.stories.tsx
  packages/design-system/src/components/switch/switch.stories.tsx
  packages/design-system/src/components/text-field/text-field.stories.tsx
  packages/design-system/src/components/textarea/textarea.stories.tsx
  pnpm-lock.yaml
Owners: @ArrayKnight, @switzerb, @brandonjpierce, @belsrc

refactor: clean up some linter errors
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.ts
  packages/core/src/types.ts
  packages/core/src/utility/lookup/index.ts
  packages/core/src/utility/once/index.ts
Owners: @belsrc, @brandonjpierce

addresses (most) feedback
  packages/design-system/.ladle/theme/slider.css.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.test.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/hooks/use-defaults/types.ts
  packages/design-system/src/index.ts
Owners: @ArrayKnight, @switzerb

removes extra css
  packages/design-system/src/components/slider/slider.css.ts
Owners: @ArrayKnight, @switzerb

partial fix for overflow (might revert)
  packages/design-system/src/components/slider/slider.css.ts
Owners: @ArrayKnight, @switzerb
