Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

feat: add Virtualizer to DesTK combobox
  design-toolkit/components/src/components/combobox/combobox.stories.tsx
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: changeset
  .changeset/grumpy-frogs-camp.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

removed context and rendering props
  design-toolkit/components/src/components/tree-view/index.tsx
  design-toolkit/components/src/components/tree-view/tree.stories.tsx
  design-toolkit/components/src/components/tree-view/types.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: segment type is not unique
  packages/design-system/src/components/date-input/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: alias aria imports
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: used flex for combobox layout
  .changeset/little-goats-promise.md
  design-toolkit/components/src/components/combobox/combobox.stories.tsx
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: build the desired API
  design-toolkit/components/src/components/menu/index.tsx
  design-toolkit/components/src/components/menu/menu.stories.tsx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: use packageExtensions for react types
  design-toolkit/components/src/components/accordion/index.tsx
  design-toolkit/components/src/components/chip/index.tsx
  design-toolkit/components/src/components/combobox/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: spreading all props causes a ref error
  design-toolkit/components/src/components/text-field/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: added peerdep for @react-aria/collections
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: port dialog to design-tk
  .changeset/quiet-maps-double.md
  design-toolkit/components/package.json
  design-toolkit/components/src/components/dialog/dialog.stories.tsx
  design-toolkit/components/src/components/dialog/dialog.test.tsx
  design-toolkit/components/src/components/dialog/index.tsx
  design-toolkit/components/src/index.ts
  design-toolkit/icons/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: better readability on optional label
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: running the formatter to true up code
  apps/docs/package.json
  design-toolkit/components/package.json
  design-toolkit/components/src/components/tabs/index.tsx
  design-toolkit/components/src/components/tabs/panel.stories.tsx
  design-toolkit/components/src/components/tabs/summary.stories.tsx
  design-toolkit/components/src/components/tabs/tab-list.stories.tsx
  design-toolkit/components/src/components/tabs/tab.stories.tsx
  design-toolkit/components/src/components/tabs/tabs.stories.tsx
  design-toolkit/components/src/components/tabs/tabs.test.tsx
  design-toolkit/components/src/lib/react.test.tsx
  design-toolkit/components/src/lib/react.ts
  design-toolkit/icons/package.json
  packages/design-system/package.json
  packages/geo/package.json
  packages/predicates/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

fix: remove shift and not toggle, clean up conditionals
  design-toolkit/components/src/components/query-builder/group.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: ensure respect of disabled prop
  design-toolkit/components/src/components/query-builder/value-selector.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: remove duplicate import and clean up story
  design-toolkit/components/src/components/query-builder/index.tsx
  design-toolkit/components/src/components/query-builder/query-builder.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: WIP
  design-toolkit/components/src/components/query-builder/query-builder.docs.mdx
  design-toolkit/components/src/components/query-builder/querybuilder.test.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: WIP
  design-toolkit/components/package.json
  design-toolkit/components/src/components/tree/index.tsx
  design-toolkit/components/src/components/tree/selection-toggle.tsx
  design-toolkit/components/src/components/tree/tree.css
  design-toolkit/components/src/components/tree/tree.stories.tsx
  design-toolkit/components/src/hooks/useTree.tsx
  design-toolkit/components/src/index.css
  design-toolkit/components/src/index.ts
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: loosen semver range for react types
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: update to react aria components 1.8.0
  packages/design-system/package.json
  packages/design-system/src/components/dialog/dialog.stories.tsx
  packages/design-system/src/components/dialog/index.tsx
  packages/design-system/src/components/dialog/types.ts
  packages/design-system/src/components/menu/index.tsx
  packages/design-system/src/components/options/index.tsx
  packages/design-system/src/components/popover/index.tsx
  packages/design-system/src/components/popover/popover.stories.tsx
  packages/design-system/src/components/popover/types.tsx
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

feat: port dialog to design-tk
  .changeset/quiet-maps-double.md
  design-toolkit/components/package.json
  design-toolkit/components/src/components/dialog/dialog.stories.tsx
  design-toolkit/components/src/components/dialog/dialog.test.tsx
  design-toolkit/components/src/components/dialog/index.tsx
  design-toolkit/components/src/index.ts
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: add simple test and start of docs
  design-toolkit/components/src/components/query-builder/example_configuration.ts
  design-toolkit/components/src/components/query-builder/query-builder.docs.mdx
  design-toolkit/components/src/components/query-builder/query-builder.stories.tsx
  design-toolkit/components/src/components/query-builder/querybuilder.test.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: remove license from mdx files
  design-toolkit/components/src/components/query-builder/query-builder.docs.mdx
  scripts/license.mjs
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

feat: wrangle exports
  design-toolkit/components/package.json
  design-toolkit/components/src/components/query-builder/action-element.tsx
  design-toolkit/components/src/components/query-builder/constants.ts
  design-toolkit/components/src/components/query-builder/example_configuration.ts
  design-toolkit/components/src/components/query-builder/group.tsx
  design-toolkit/components/src/components/query-builder/index.tsx
  design-toolkit/components/src/components/query-builder/query-builder.stories.tsx
  design-toolkit/components/src/components/query-builder/querybuilder.css
  design-toolkit/components/src/components/query-builder/rule.tsx
  design-toolkit/components/src/components/query-builder/types.ts
  design-toolkit/components/src/components/query-builder/utils.ts
  design-toolkit/components/src/components/query-builder/value-editor.tsx
  design-toolkit/components/src/components/query-builder/value-selector.tsx
  design-toolkit/components/src/components/search-field/index.tsx
  design-toolkit/components/src/index.css
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: formatting
  design-toolkit/components/src/components/search-field/search-field.stories.tsx
  design-toolkit/components/src/components/search-field/search-field.test.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: invalidation message alignment
  design-toolkit/components/src/components/query-builder/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: textarea props error
  design-toolkit/components/src/components/text-area/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: rename file
  design-toolkit/components/src/components/query-builder/example-configuration.ts
  design-toolkit/components/src/components/query-builder/query-builder.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: sort css classes
  design-toolkit/components/src/components/query-builder/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update import
  design-toolkit/components/src/components/query-builder/querybuilder.test.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

build: package updates to react aria components ecosystem
  design-toolkit/components/package.json
  packages/design-system/package.json
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: account for null state context
  packages/design-system/src/components/date-input/index.tsx
  packages/design-system/src/components/slider/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: slot name change from secondary to close
  packages/design-system/src/components/dialog/dialog.stories.tsx
  packages/design-system/src/components/dialog/index.tsx
  packages/design-system/src/components/dialog/types.ts
  packages/design-system/src/components/popover/index.tsx
  packages/design-system/src/components/popover/popover.stories.tsx
  packages/design-system/src/components/popover/types.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: remove UNSTABLE and ignore context type error
  packages/design-system/src/components/menu/index.tsx
  packages/design-system/src/components/options/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: useTreeData added two additional methods - omit them
  packages/design-system/src/types/use-tree.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: useTreeData getItem added undefined to return type
  packages/design-system/src/hooks/use-tree/index.test.ts
  packages/design-system/src/hooks/use-tree/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: initial scaffolding
  design-toolkit/components/src/components/menu/index.tsx
  design-toolkit/components/src/components/menu/menu.stories.tsx
  design-toolkit/components/src/components/menu/menu.test.tsx
  design-toolkit/components/src/components/popover/index.tsx
  design-toolkit/components/src/components/popover/popover.stories.tsx
  design-toolkit/components/src/components/popover/popover.test.tsx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: port slider
  .changeset/pretty-melons-allow.md
  .npmrc
  design-toolkit/components/src/components/slider/index.test.tsx
  design-toolkit/components/src/components/slider/index.tsx
  design-toolkit/components/src/components/slider/range-slider.stories.tsx
  design-toolkit/components/src/components/slider/slider.stories.tsx
  design-toolkit/components/src/index.ts
  packages/design-system/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: update lock file
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: remove license blurb from mdx files
  design-toolkit/components/src/components/tabs/summary.docs.mdx
  design-toolkit/components/src/components/tabs/tab-list.docs.mdx
Owners: @shadyendless, @switzerb, @brandonjpierce

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @belsrc @shadyendless @switzerb

# Design system
/packages/design-system @shadyendless @switzerb @brandonjpierce
/design-toolkit @shadyendless @switzerb @brandonjpierce

# Geo package
/packages/geo @kalisjoshua @brandonjpierce
