Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

fix: no tabs appear to selected when closed
  packages/design-system/.ladle/theme/drawer.css.ts
Owners: @ArrayKnight, @switzerb

chore: revert PascalCase change
  packages/design-system/src/components/tooltip/types.ts
Owners: @ArrayKnight, @switzerb

chore: add changeset
  .changeset/loud-carpets-begin.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

docs: change docs to test pipeline
  packages/core/src/logical/and/index.ts
Owners: @belsrc, @brandonjpierce

doc: change comment
  packages/core/src/logical/and/index.ts
Owners: @belsrc, @brandonjpierce

docs: update code docs
  packages/core/src/logical/equality/index.ts
Owners: @belsrc, @brandonjpierce

docs: change code doc
  packages/core/src/logical/or/index.ts
Owners: @belsrc, @brandonjpierce

docs: doc block update
  packages/core/src/logical/not/index.ts
Owners: @belsrc, @brandonjpierce

docs: doc block update (#198)
  apps/docs/package.json
  packages/converters/package.json
  packages/core/src/logical/not/index.ts
  packages/design-system/package.json
  packages/geo/package.json
  packages/geo/src/coordinates/latlon/README.md
  packages/predicates/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

dmeo
  packages/geo/src/README.md
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

demo
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

docs: more docs
  packages/core/src/logical/nor/index.ts
Owners: @belsrc, @brandonjpierce

docs: docblock
  packages/core/src/logical/nand/index.ts
Owners: @belsrc, @brandonjpierce

just some comments for a demo
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

remove nested biome configs
  apps/docs/biome.json
  apps/next/biome.json
  biome.json
  packages/design-system/biome.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

fix lint commands
  packages/constants/package.json
  packages/converters/package.json
  packages/core/package.json
  packages/design-system/package.json
  packages/formatters/package.json
  packages/geo/package.json
  packages/math/package.json
  packages/predicates/package.json
  packages/temporal/package.json
  packages/web-worker/package.json
  packages/websocket/package.json
  tooling/biome-config/package.json
  tooling/eslint-config/package.json
  tooling/prettier-config/package.json
  tooling/typescript-config/package.json
  tooling/vitest-config/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

fix: pr feedback addressed, updates slider logic based on percentages rather than values to better allow for higher max values
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.stories.tsx
Owners: @ArrayKnight, @switzerb

fix: pr feedback addressed, updates slider logic based on percentages rather than values to better allow for higher max values
  packages/design-system/src/components/slider/slider.tsx
Owners: @ArrayKnight, @switzerb

tweak
  biome.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: adds flex property to output, updates output with spans for additional style capabilities
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: add remark
  packages/core/src/combinators/th/index.ts
Owners: @belsrc, @brandonjpierce

chore: turbo fix
  apps/docs/package.json
  packages/converters/package.json
  packages/design-system/package.json
  packages/geo/package.json
  packages/predicates/package.json
  turbo.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

add @remarks comment
  packages/core/src/logical/xor/index.ts
Owners: @belsrc, @brandonjpierce

comment
  packages/core/src/utility/lookup/index.ts
Owners: @belsrc, @brandonjpierce

docs: add blurbs to the main readme in each package
  packages/constants/README.md
  packages/converters/README.md
  packages/core/README.md
  packages/formatters/README.md
  packages/geo/README.md
  packages/math/README.md
  packages/predicates/README.md
  packages/temporal/README.md
  packages/web-worker/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @kalisjoshua

docs: update verbiage per comment
  packages/temporal/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

feat: add iterable creator and range iterable
  packages/core/src/index.ts
  packages/core/src/iterable/create-iterable/index.test.ts
  packages/core/src/iterable/create-iterable/index.ts
  packages/core/src/iterable/range/index.test.ts
  packages/core/src/iterable/range/index.ts
Owners: @belsrc, @brandonjpierce

chore: changeset
  .changeset/lazy-ties-punch.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

docs: add better docs to array fns
  packages/core/src/array/concat/index.ts
  packages/core/src/array/every/index.ts
  packages/core/src/array/filter/index.ts
  packages/core/src/array/find-index/index.ts
  packages/core/src/array/find-last-index/index.ts
  packages/core/src/array/find-last/index.ts
  packages/core/src/array/find/index.ts
  packages/core/src/array/includes/index.ts
  packages/core/src/array/index-of/index.ts
  packages/core/src/array/map/index.ts
  packages/core/src/array/push/index.ts
  packages/core/src/array/reduce-right/index.ts
  packages/core/src/array/reduce/index.ts
  packages/core/src/array/reverse/index.ts
  packages/core/src/array/shift/index.ts
  packages/core/src/array/slice/index.ts
  packages/core/src/array/some/index.ts
  packages/core/src/array/unshift/index.ts
Owners: @belsrc, @brandonjpierce

docs: add better docs to composition fns
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.ts
Owners: @belsrc, @brandonjpierce

docs: add better docs to logical fns
  packages/core/src/logical/and/index.ts
  packages/core/src/logical/equality/index.ts
  packages/core/src/logical/nand/index.ts
  packages/core/src/logical/nor/index.ts
  packages/core/src/logical/not/index.ts
  packages/core/src/logical/nullish-or/index.ts
  packages/core/src/logical/or/index.ts
  packages/core/src/logical/xor/index.ts
Owners: @belsrc, @brandonjpierce

docs: add better docs to object fns
  packages/core/src/object/associate/index.ts
  packages/core/src/object/lens/index.ts
  packages/core/src/object/property/index.ts
Owners: @belsrc, @brandonjpierce

docs: add better docs to util fns
  packages/core/src/utility/lookup/index.ts
  packages/core/src/utility/once/index.ts
  packages/core/src/utility/tap/index.ts
Owners: @belsrc, @brandonjpierce

refactor: un-academia the combinators
  packages/core/src/combinators/apply/index.ts
  packages/core/src/combinators/composition/index.ts
  packages/core/src/combinators/constant/index.ts
  packages/core/src/combinators/fork/index.ts
  packages/core/src/combinators/identity/index.ts
  packages/core/src/combinators/inverse-constant/index.ts
  packages/core/src/combinators/ki/index.ts
  packages/core/src/combinators/psi/index.ts
  packages/core/src/index.ts
Owners: @belsrc, @brandonjpierce

fix: missed import
  packages/core/src/utility/lookup/index.ts
Owners: @belsrc, @brandonjpierce

docs: add pure notation to docs
  packages/core/src/array/concat/index.ts
  packages/core/src/array/every/index.ts
  packages/core/src/array/filter/index.ts
  packages/core/src/array/find-index/index.ts
  packages/core/src/array/find-last-index/index.ts
  packages/core/src/array/find-last/index.ts
  packages/core/src/array/find/index.ts
  packages/core/src/array/includes/index.ts
  packages/core/src/array/index-of/index.ts
  packages/core/src/array/map/index.ts
  packages/core/src/array/push/index.ts
  packages/core/src/array/reduce-right/index.ts
  packages/core/src/array/reduce/index.ts
  packages/core/src/array/reverse/index.ts
  packages/core/src/array/shift/index.ts
  packages/core/src/array/slice/index.ts
  packages/core/src/array/some/index.ts
  packages/core/src/array/unshift/index.ts
  packages/core/src/combinators/apply-to/index.ts
  packages/core/src/combinators/apply/index.ts
  packages/core/src/combinators/composition/index.ts
  packages/core/src/combinators/constant/index.ts
  packages/core/src/combinators/fork/index.ts
  packages/core/src/combinators/identity/index.ts
  packages/core/src/combinators/inverse-constant/index.ts
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.ts
  packages/core/src/logical/nand/index.ts
  packages/core/src/logical/nullish-or/index.ts
  packages/core/src/object/associate/index.ts
  packages/core/src/object/lens/index.ts
  packages/core/src/object/property/index.ts
Owners: @belsrc, @brandonjpierce

chore: update index
  packages/core/src/index.ts
Owners: @belsrc, @brandonjpierce

chore: changeset
  .changeset/lazy-radios-taste.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: peer dep strictness
  packages/design-system/package.json
  pnpm-lock.yaml
Owners: @ArrayKnight, @switzerb, @brandonjpierce, @belsrc

fix: formatting
  apps/docs/package.json
  packages/core/package.json
  packages/geo/package.json
  packages/predicates/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @ArrayKnight @belsrc

# Core pacakge
/packages/core @belsrc @brandonjpierce

# Design system pacakge
/packages/design-system @ArrayKnight @switzerb

# Geo package
/packages/geo @kalisjoshua @brandonjpierce
