Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @ArrayKnight @belsrc

# Core pacakge
/packages/core @belsrc @brandonjpierce

# Design system pacakge
/packages/design-system @ArrayKnight @switzerb

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

chore: upgrade tsdoc markdown plugin
  apps/docs/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

changes based on feedback
  apps/next/src/theme/slider.css.ts
  packages/design-system/.ladle/theme/slider.css.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/hooks/use-defaults/types.ts
  packages/design-system/src/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: initial scaffolding, with primitives stories converted
  .gitignore
  packages/design-system/.storybook/decorators.tsx
  packages/design-system/.storybook/main.ts
  packages/design-system/.storybook/preview.ts
  packages/design-system/.storybook/theme-setup/component-css/button.css.ts
  packages/design-system/.storybook/theme-setup/component-css/checkbox.css.ts
  packages/design-system/.storybook/theme-setup/component-css/chip.css.ts
  packages/design-system/.storybook/theme-setup/component-css/combo-box.css.ts
  packages/design-system/.storybook/theme-setup/component-css/dialog.css.ts
  packages/design-system/.storybook/theme-setup/component-css/drawer.css.ts
  packages/design-system/.storybook/theme-setup/component-css/group.css.ts
  packages/design-system/.storybook/theme-setup/component-css/icon.css.ts
  packages/design-system/.storybook/theme-setup/component-css/index.ts
  packages/design-system/.storybook/theme-setup/component-css/input.css.ts
  packages/design-system/.storybook/theme-setup/component-css/menu.css.ts
  packages/design-system/.storybook/theme-setup/component-css/number-field.css.ts
  packages/design-system/.storybook/theme-setup/component-css/options.css.ts
  packages/design-system/.storybook/theme-setup/component-css/picker.css.ts
  packages/design-system/.storybook/theme-setup/component-css/popover.css.ts
  packages/design-system/.storybook/theme-setup/component-css/query-builder.css.ts
  packages/design-system/.storybook/theme-setup/component-css/radio.css.ts
  packages/design-system/.storybook/theme-setup/component-css/search-field.css.ts
  packages/design-system/.storybook/theme-setup/component-css/select.css.ts
  packages/design-system/.storybook/theme-setup/component-css/switch.css.ts
  packages/design-system/.storybook/theme-setup/component-css/tabs.css.ts
  packages/design-system/.storybook/theme-setup/component-css/text-field.css.ts
  packages/design-system/.storybook/theme-setup/component-css/textarea.css.ts
  packages/design-system/.storybook/theme-setup/component-css/tooltip.css.ts
  packages/design-system/.storybook/theme-setup/component-css/tree.css.ts
  packages/design-system/.storybook/theme-setup/global-theme-provider.tsx
  packages/design-system/.storybook/theme-setup/theme.css.ts
  packages/design-system/package.json
  packages/design-system/src/styles/surfaces.stories.tsx
  packages/design-system/src/styles/typography.stories.tsx
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: story name tweaks
  packages/design-system/src/hooks/use-theme/use-theme.stories.tsx
  packages/design-system/src/styles/surfaces.stories.tsx
  packages/design-system/src/styles/theme.stories.tsx
  packages/design-system/src/styles/typography.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: don't add license to docs md files
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/src/pages/index.md
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/markdown-page.md
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: docusaurus scaffold
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/biome.json
  apps/docs/docs/intro.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/markdown-page.md
  apps/docs/static/.nojekyll
  apps/docs/static/img/banner.jpg
  apps/docs/static/img/favicon.ico
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: mergeReadme instead of readme: none
  README.md
  apps/docs/typedoc.config.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: implement search
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: ignore footer link for now
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: missed a few
  apps/docs/docs/intro.md
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: more cleanup
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: cleanup and add codeblock demos
  apps/docs/docs/intro.md
  apps/docs/docs/packages/constants.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  apps/docs/typedoc.config.mjs
  packages/design-system/README.md
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: update copyright
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: ls-lint ignore docusaurus output
  .ls-lint.yml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: warn on broken links for now
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: update readme
  apps/docs/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: more tweaks
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: tweaks. demo update
  apps/docs/docs/packages/demo-ad-hoc-page.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/typedoc.mjs
  packages/design-system/documentation/concepts.md
  packages/design-system/src/documentation/assets/component_diagram.png
  packages/design-system/src/documentation/concepts.md
  packages/design-system/src/documentation/container-queries.md
  packages/design-system/src/documentation/contribution.md
  packages/design-system/src/documentation/implementation.md
  packages/design-system/src/documentation/theming.md
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: fix warning/info syntax in readme
  apps/docs/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: upgrade tsdoc markdown plugin
  apps/docs/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: update some jsdoc tags
  packages/converters/src/boolean-to-number/index.ts
  packages/converters/src/to-boolean/index.ts
  packages/converters/src/xyz-to-bbox/index.ts
  packages/core/src/combinators/a/index.ts
  packages/core/src/combinators/b/index.ts
  packages/core/src/combinators/i/index.ts
  packages/core/src/combinators/k/index.ts
  packages/core/src/combinators/phi/index.ts
  packages/core/src/combinators/th/index.ts
  packages/core/src/logical/and/index.ts
  packages/core/src/logical/equality/index.ts
  packages/core/src/logical/nand/index.ts
  packages/core/src/logical/nor/index.ts
  packages/core/src/logical/not/index.ts
  packages/core/src/logical/or/index.ts
  packages/core/src/logical/xor/index.ts
  packages/core/src/object/associate/index.ts
  packages/core/src/object/property/index.ts
  packages/core/src/utility/tap/index.ts
  packages/design-system/src/components/tree/types.ts
  packages/geo/src/cartesian.ts
  packages/geo/src/coordinates/coordinate.ts
  packages/geo/src/coordinates/latlon/internal/lexer.ts
  packages/geo/src/coordinates/latlon/internal/parse.ts
  packages/geo/src/coordinates/latlon/internal/pipes/fix-dividers.ts
  packages/geo/src/coordinates/latlon/internal/pipes/index.ts
  packages/geo/src/coordinates/latlon/internal/pipes/simpler.ts
  packages/geo/src/patterning.ts
  packages/predicates/src/is-noyes/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

chore: slight config tweaks
  apps/docs/docs/config/another-one.md
  apps/docs/docs/config/biome-config.md
  apps/docs/docs/config/eslint-config.md
  apps/docs/docs/config/prettier-config.md
  apps/docs/docs/config/typescript-config.md
  apps/docs/docs/config/vitest-config.md
  apps/docs/docs/packages/converters.md
  apps/docs/docs/packages/demo-ad-hoc-page.md
  apps/docs/docs/packages/design-system.md
  apps/docs/docs/packages/formatters.md
  apps/docs/docs/packages/geo.md
  apps/docs/docs/packages/math.md
  apps/docs/docs/packages/predicates.md
  apps/docs/docs/packages/second-page.md
  apps/docs/docs/packages/temporal.md
  apps/docs/docs/packages/web-worker.md
  apps/docs/docs/packages/websocket.md
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
  apps/docs/typedoc.config.mjs
  packages/converters/src/xyz-to-bbox/index.ts
  packages/design-system/src/concepts.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: more config tweaks
  apps/docs/docusaurus.config.ts
  apps/docs/tsconfig.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc

feat: katex support
  apps/docs/docs/packages/demo-ad-hoc-page.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: again 🤦
  apps/docs/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: rename existing stories)
  packages/design-system/src/components/checkbox/checkbox.stories.old.tsx
  packages/design-system/src/components/chip/chip.stories.old.tsx
  packages/design-system/src/components/combo-box/combo-box.stories.old.tsx
  packages/design-system/src/components/dialog/dialog.stories.old.tsx
  packages/design-system/src/components/drawer/drawer.stories.old.tsx
  packages/design-system/src/components/group/group.stories.old.tsx
  packages/design-system/src/components/icon/icon.stories.old.tsx
  packages/design-system/src/components/input/input.stories.old.tsx
  packages/design-system/src/components/menu/menu.stories.old.tsx
  packages/design-system/src/components/number-field/number-field.stories.old.tsx
  packages/design-system/src/components/options/options.stories.old.tsx
  packages/design-system/src/components/picker/picker.stories.old.tsx
  packages/design-system/src/components/popover/popover.stories.old.tsx
  packages/design-system/src/components/query-builder/query-builder.stories.old.tsx
  packages/design-system/src/components/radio/radio.stories.old.tsx
  packages/design-system/src/components/search-field/search-field.stories.old.tsx
  packages/design-system/src/components/select/select.stories.old.tsx
  packages/design-system/src/components/switch/switch.stories.old.tsx
  packages/design-system/src/components/tabs/tabs.stories.old.tsx
  packages/design-system/src/components/text-field/text-field.stories.old.tsx
  packages/design-system/src/components/textarea/textarea.stories.old.tsx
  packages/design-system/src/components/tooltip/tooltip.stories.old.tsx
  packages/design-system/src/components/tree/tree.stories.old.tsx
Owners: @ArrayKnight, @switzerb

addresses types, fixes hover effect
  packages/design-system/.ladle/theme/slider.css.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/index.ts
Owners: @ArrayKnight, @switzerb

removes extra components from test file
  packages/design-system/src/components/slider/slider.test.tsx
Owners: @ArrayKnight, @switzerb

updates comment to remove mention of deceased sliderbar
  packages/design-system/src/components/slider/slider.tsx
Owners: @ArrayKnight, @switzerb

break
  packages/design-system/.storybook/preview.tsx
  packages/design-system/src/components/test/test.stories.tsx
  packages/design-system/src/components/test/test.tsx
  pnpm-lock.yaml
Owners: @ArrayKnight, @switzerb, @brandonjpierce, @belsrc

chore: silliness
  packages/design-system/tsconfig.dist.json
  packages/design-system/tsup.config.ts
Owners: @ArrayKnight, @switzerb

get hmr to cooperate
  packages/design-system/.storybook/main.ts
  packages/design-system/.storybook/preview.tsx
  packages/design-system/.storybook/theme-setup/theme.css.ts
  packages/design-system/package.json
  packages/design-system/src/components/button/button.stories.old.tsx
  packages/design-system/src/components/test/test.stories.tsx
  packages/design-system/src/components/test/test.tsx
  packages/design-system/vite.config.js
  pnpm-lock.yaml
Owners: @ArrayKnight, @switzerb, @brandonjpierce, @belsrc

chore: button stories
  packages/design-system/src/components/button/button.stories.old.tsx
  packages/design-system/src/components/button/button.stories.tsx
  packages/design-system/src/components/button/link-button.stories.tsx
  packages/design-system/src/components/button/toggle-button.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: checkbox
  packages/design-system/src/components/button/button.stories.tsx
  packages/design-system/src/components/button/link-button.stories.tsx
  packages/design-system/src/components/button/toggle-button.stories.tsx
  packages/design-system/src/components/checkbox/checkbox.stories.old.tsx
  packages/design-system/src/components/checkbox/checkbox.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: chip
  packages/design-system/src/components/chip/chip.stories.old.tsx
  packages/design-system/src/components/chip/chip.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: combo box
  packages/design-system/src/components/combo-box/combo-box.stories.old.tsx
  packages/design-system/src/components/combo-box/combo-box.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: dialog
  packages/design-system/src/components/dialog/dialog.stories.tsx
Owners: @ArrayKnight, @switzerb

config to default to docs pages as default
  .ls-lint.yml
  README.md
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/content/config/another-one.md
  apps/docs/content/packages/demo-ad-hoc-page.md
  apps/docs/content/packages/second-page.md
  apps/docs/docusaurus.config.ts
  apps/docs/lib/typedoc-plugin-hypergiant.mjs
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/src/css/custom.css
  apps/docs/src/pages/CONTRIBUTING.md
  apps/docs/src/pages/LICENSE.md
  apps/docs/src/pages/index.md
  apps/docs/static/img/accelint.png
  apps/docs/static/img/banner.jpg
  apps/docs/static/img/favicon.ico
  apps/docs/typedoc.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: drawer
  packages/design-system/.storybook/preview.tsx
  packages/design-system/.storybook/theme-setup/global-theme-provider.tsx
  packages/design-system/src/components/drawer/drawer.stories.old.tsx
  packages/design-system/src/components/drawer/drawer.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: group
  packages/design-system/src/components/group/group.stories.tsx
Owners: @ArrayKnight, @switzerb
