Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

Update CHANGELOG.md
  packages/converters/CHANGELOG.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

Update CHANGELOG.md
  packages/predicates/CHANGELOG.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

save point
  documentation/adrs/001-documentation-tool.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix(tests): use .each convention for tests
  packages/converters/src/boolean-to-number/index.test.ts
  packages/predicates/src/is-number/index.test.ts
  packages/predicates/src/is-string/index.test.ts
  packages/predicates/src/is-worker/index.test.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: install lefthook dependency
  lefthook.yml
  package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

refactor: make anys explicit
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.ts
  packages/core/src/types.ts
  packages/core/src/utility/lookup/index.ts
  packages/core/src/utility/once/index.ts
Owners: @belsrc, @brandonjpierce

refactor: make anys explicit
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.ts
  packages/core/src/types.ts
  packages/core/src/utility/lookup/index.ts
  packages/core/src/utility/once/index.ts
  packages/geo/src/coordinates/coordinate.ts
  packages/geo/src/coordinates/latlon/internal/coordinate-sytem.ts
  packages/geo/src/coordinates/mgrs/parser.ts
  packages/geo/src/coordinates/utm/parser.ts
  packages/predicates/src/is-noyes/index.bench.ts
  packages/web-worker/src/worker/index.ts
  tooling/biome-config/linter.json
Owners: @belsrc, @brandonjpierce, @kalisjoshua, @ArrayKnight

save point: compiled ts code differs in type from source
  apps/docs/components/editor.tsx
  apps/docs/components/playground.tsx
  apps/docs/docs/packages/geo.mdx
  apps/docs/package.json
  apps/docs/rspress.config.ts
  apps/docs/tsconfig.json
  packages/geo/src/coordinates/latlon/decimal-degrees/parser.ts
  packages/geo/src/coordinates/latlon/degrees-decimal-minutes/parser.ts
  packages/geo/src/coordinates/latlon/degrees-minutes-seconds/parser.ts
  packages/geo/src/coordinates/latlon/internal/index.ts
  packages/geo/src/coordinates/latlon/internal/lexer.ts
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @kalisjoshua

save point
  apps/docs/lib/collect-modules.mjs
  apps/docs/package.json
  apps/docs/rspress.config.ts
  apps/docs/src/index.mdx
  apps/docs/src/packages/constants.md
  apps/docs/src/packages/geo.mdx
  apps/docs/src/packages/index.md
  apps/docs/src/public/rspress-dark-logo.png
  apps/docs/src/public/rspress-icon.png
  apps/docs/src/public/rspress-light-logo.png
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: generate license pre-commit
  lefthook.yml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: slight refactor
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: handle files with interpreter directives
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: staged files only
  lefthook.yml
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: use named arg
  lefthook.yml
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

save point
  apps/docs/lib/collect-modules.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

before stub module documentation pages
  apps/docs/lib/audit-modules.mjs
  apps/docs/lib/get-paths.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

add some content
  apps/docs/src/index.md
  apps/docs/src/packages/index.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

slider component started with types. not fully displayed.
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.test.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/hooks/use-defaults/types.ts
  packages/design-system/src/hooks/use-theme/types.ts
Owners: @ArrayKnight, @switzerb

chore[ci]: ignore generated files
  .ls-lint.yml
  apps/docs/.gitignore
  apps/docs/rspress.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

doc: add missing cli arg to command
  apps/docs/lib/audit-modules.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore(docs): embed ladle stories in docs
  apps/docs/src/packages/design-system/component-stories.mdx
  apps/docs/src/packages/design-system/components.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore(docs): include built ladle in docs dist
  apps/docs/package.json
  apps/docs/src/packages/design-system/component-stories.mdx
Owners: @brandonjpierce, @ArrayKnight, @belsrc

update tsconfig.json with audit script
  apps/docs/lib/audit-tsconfig.mjs
  apps/docs/lib/exclude.mjs
  apps/docs/lib/get-files.mjs
  apps/docs/lib/get-files.mts
  apps/docs/lib/get-paths.mjs
  apps/docs/lib/install.tsx
  apps/docs/package.json
  apps/docs/rspress.config.ts
  apps/docs/src/packages/converters/to-boolean.mdx
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

adds range slider story
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/hooks/use-defaults/types.ts
Owners: @ArrayKnight, @switzerb

save point
  apps/docs/biome.json
  apps/docs/package.json
  apps/docs/rspress.config.ts
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

refactor: clean up some linter errors
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.ts
  packages/core/src/types.ts
  packages/core/src/utility/lookup/index.ts
  packages/core/src/utility/once/index.ts
Owners: @belsrc, @brandonjpierce

applies track colors for range + single value sliders
  apps/next/src/theme/slider.css.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: remove typedoc plugin
  .ls-lint.yml
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/rspress.config.ts
  apps/docs/src/packages/converters/to-boolean.mdx
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

stopping point
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/src/packages/converters/to-boolean.mdx
  apps/docs/typedoc.config.mjs
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

use src/public for now
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/src/packages/converters/to-boolean.mdx
  apps/docs/typedoc.config.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

applies align label prop with css
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
Owners: @ArrayKnight, @switzerb

chore: only try to add license to supported files
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: create glob from comment styles object
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: add comment
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: add mts, jsx
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: sort scripts
  apps/docs/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: specify design system as dep of docs
  apps/docs/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: pnpm-lock
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: ls-lint ignore generated docs files
  .ls-lint.yml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: specify public-hoist-pattern in nmprc
  .npmrc
Owners: @brandonjpierce, @ArrayKnight, @belsrc

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @ArrayKnight @belsrc

# Core pacakge
/packages/core @belsrc @brandonjpierce

# Design system pacakge
/packages/design-system @ArrayKnight @switzerb

# Geo package
/packages/geo @kalisjoshua @brandonjpierce
