Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @ArrayKnight @belsrc

# Core pacakge
/packages/core @belsrc @brandonjpierce

# Design system pacakge
/packages/design-system @ArrayKnight @switzerb

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

chore: clean up stories
  packages/design-system/src/components/slider/slider.stories.tsx
Owners: @ArrayKnight, @switzerb

chore: add drawer story for overflowwed content
  packages/design-system/src/components/drawer/drawer.stories.tsx
Owners: @ArrayKnight, @switzerb

fix: handle overflowed drawer content
  packages/design-system/src/components/drawer/drawer.css.ts
Owners: @ArrayKnight, @switzerb

fix: handle overflowed options
  packages/design-system/src/components/options/options.css.ts
Owners: @ArrayKnight, @switzerb

chore: add missing changeset for ds
  .changeset/thin-beans-matter.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: changeset
  .changeset/tidy-plants-retire.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

test: add test to obj fns
  packages/core/src/object/associate/index.test.ts
  packages/core/src/object/associate/index.ts
  packages/core/src/object/lens/index.test.ts
  packages/core/src/object/lens/index.ts
  packages/core/src/object/property/index.test.ts
  packages/core/src/object/property/index.ts
Owners: @belsrc, @brandonjpierce

chore: address changeset conflict changes
  apps/docs/package.json
  packages/converters/package.json
  packages/design-system/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

test: change up optional prop test
  packages/core/src/object/property/index.test.ts
Owners: @belsrc, @brandonjpierce

test: add tests for util fns
  packages/core/src/utility/lookup/index.ts
  packages/core/src/utility/once/index.test.ts
  packages/core/src/utility/once/index.ts
  packages/core/src/utility/tap/index.test.ts
Owners: @belsrc, @brandonjpierce

feat: add alpha palette
  packages/design-system/src/styles/theme.css.ts
Owners: @ArrayKnight, @switzerb

docs: add changeset
  .changeset/smart-sheep-buy.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: add semantic version
  packages/design-system/src/styles/theme.css.ts
Owners: @ArrayKnight, @switzerb

chore: correct the values
  packages/design-system/src/styles/theme.css.ts
Owners: @ArrayKnight, @switzerb

fix: update transparent-white
  packages/design-system/src/styles/theme.css.ts
Owners: @ArrayKnight, @switzerb

refactor: scrub all the color vars with Dell to make DS match in Figma and her
  apps/docs/package.json
  packages/design-system/package.json
  packages/design-system/src/styles/theme.css.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

feat: add showRuleLine prop and styles
  packages/design-system/src/components/query-builder/query-builder.css.ts
  packages/design-system/src/components/query-builder/query-builder.stories.tsx
  packages/design-system/src/components/query-builder/query-builder.tsx
  packages/design-system/src/components/query-builder/types.ts
Owners: @ArrayKnight, @switzerb

chore: add changeset
  .changeset/warm-houses-help.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: remove stray TODO
  packages/design-system/src/components/query-builder/query-builder.css.ts
Owners: @ArrayKnight, @switzerb

chore: formatting changes
  apps/docs/package.json
  packages/design-system/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: add changeset
  .changeset/gentle-bugs-roll.md
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: update peer dependencies with react 19
  packages/design-system/package.json
Owners: @ArrayKnight, @switzerb

chore: add changeset
  .changeset/shy-toes-clap.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: resolve unmet peer dependency errors for react 19
  apps/docs/package.json
  package.json
  packages/design-system/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

fix: use semver range in react peer dependency
  packages/design-system/package.json
Owners: @ArrayKnight, @switzerb

chore: update lockfile
  apps/docs/package.json
  biome.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: add changeset
  .changeset/chilled-ads-smash.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: update version of nextjs example app
  apps/next/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: remove unnecessary hoist
  pnpm-workspace.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: make name alias consistent
  design-toolkit/components/src/components/button/button.stories.tsx
  design-toolkit/components/src/components/tooltip/index.tsx
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: manage the potential presence of renderProps
  design-toolkit/components/src/components/button/button.stories.tsx
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: make sure the build passes
  design-toolkit/components/src/components/icon-button/icon-button.stories.tsx
  design-toolkit/components/src/lib/react.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: ignore .storybook dir in linting
  .ls-lint.yml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

build: micro optimization
  design-toolkit/components/package.json
  design-toolkit/components/tsup.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

feat: bus implementation
  packages/bus/README.md
  packages/bus/package.json
  packages/bus/src/broadcast/constants.ts
  packages/bus/src/broadcast/index.ts
  packages/bus/src/broadcast/types.ts
  packages/bus/src/index.ts
  packages/bus/tsconfig.json
  packages/bus/tsup.config.ts
  packages/bus/typedoc.mjs
  packages/bus/vitest.config.js
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: format
  apps/docs/package.json
  packages/design-system/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: readme fix
  packages/bus/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: single broadcast channel instance
  packages/bus/src/broadcast/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: updated the project configuration and cleaned up code
  design-toolkit/components/.storybook/main.ts
  design-toolkit/components/package.json
  design-toolkit/components/src/components/avatar/avatar.stories.tsx
  design-toolkit/components/src/components/avatar/index.tsx
  design-toolkit/components/src/components/badge/index.tsx
  design-toolkit/components/src/components/box/index.tsx
  design-toolkit/components/src/components/button/button.stories.tsx
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/components/classification-banner/classification-banner.stories.tsx
  design-toolkit/components/src/components/classification-banner/index.tsx
  design-toolkit/components/src/components/floating-button/floating-button.stories.tsx
  design-toolkit/components/src/components/floating-button/index.tsx
  design-toolkit/components/src/components/icon-button/icon-button.stories.tsx
  design-toolkit/components/src/components/toggle-icon-button/index.tsx
  design-toolkit/components/src/components/toggle-icon-button/toggle-icon-button.stories.tsx
  design-toolkit/components/src/components/tooltip/index.tsx
  design-toolkit/components/src/components/tooltip/tooltip.stories.tsx
  design-toolkit/components/src/components/tooltip/tooltip.test.tsx
  design-toolkit/components/src/index.css
  design-toolkit/components/static/avatar-example.jpeg
  design-toolkit/components/vite.config.ts
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: fixed build issues and modified package exports
  apps/next/src/app/buttons.tsx
  apps/next/src/app/globals.css
  apps/next/src/app/layout.tsx
  design-toolkit/components/package.json
  design-toolkit/components/src/components/avatar/index.tsx
  design-toolkit/components/src/components/badge/badge.stories.tsx
  design-toolkit/components/src/components/badge/index.tsx
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/components/classification-banner/index.tsx
  design-toolkit/components/src/components/floating-button/index.tsx
  design-toolkit/components/src/components/icon-button/index.tsx
  design-toolkit/components/src/components/toggle-icon-button/index.tsx
  design-toolkit/components/src/components/tooltip/index.tsx
  design-toolkit/components/src/index.css
  design-toolkit/components/src/index.ts
  design-toolkit/components/tsup.config.ts
  packages/constants/package.json
  packages/converters/package.json
  packages/core/package.json
  packages/design-system/package.json
  packages/formatters/package.json
  packages/geo/package.json
  packages/math/package.json
  packages/predicates/package.json
  packages/temporal/package.json
  packages/web-worker/package.json
  packages/websocket/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua
