Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @ArrayKnight @belsrc

# Core pacakge
/packages/core @belsrc @brandonjpierce

# Design system pacakge
/packages/design-system @ArrayKnight @switzerb

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

chore: changeset
  .changeset/grumpy-cups-poke.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: adjustments to semver ranges
  apps/docs/package.json
  apps/next/package.json
  packages/design-system/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

remove demo comment
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

fix: typo
  packages/core/src/logical/nand/index.ts
Owners: @belsrc, @brandonjpierce

demo
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

chore: testing things
  packages/core/src/array/concat/index.ts
Owners: @belsrc, @brandonjpierce

build: checking vercel
  packages/core/src/array/filter/index.ts
Owners: @belsrc, @brandonjpierce

chore: add noop comment
  packages/core/src/array/concat/index.ts
Owners: @belsrc, @brandonjpierce

chore: typo
  packages/core/src/logical/nand/index.ts
Owners: @belsrc, @brandonjpierce

hello
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

test: testing same diff
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

chore: test
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

hello
  packages/core/src/object/lens/index.ts
Owners: @belsrc, @brandonjpierce

fix: there was a copy paste typo in reduce
  packages/core/src/array/reduce/index.ts
Owners: @belsrc, @brandonjpierce

chore: changeset
  .changeset/fair-parents-exist.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

docs: update doc link in readme
  README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

readable classnames in ladle
  packages/design-system/vite.config.js
Owners: @ArrayKnight, @switzerb

docs: add link to coordinate system wiki
  packages/geo/src/coordinates/coordinate.ts
Owners: @kalisjoshua, @brandonjpierce

build: add all the packages as deps
  apps/docs/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc

build: typo
  apps/docs/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc

build: install
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: clean up constants
  packages/constants/src/coordinates/index.ts
  packages/constants/src/identifiers/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: clean up converters
  packages/converters/src/index.ts
  packages/converters/src/to-boolean/index.test.ts
  packages/converters/src/xyz-to-bbox/index.test.ts
  packages/converters/src/xyz-to-bbox/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

docs: playground doc blocks for converters
  packages/converters/src/to-boolean/index.ts
  packages/converters/src/xyz-to-bbox/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

build: address doc site issues
  apps/docs/package.json
  packages/converters/src/index.ts
  packages/converters/src/zxy-to-bbox/index.test.ts
  packages/converters/src/zxy-to-bbox/index.ts
  packages/core/src/array/slice/index.ts
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

docs: add logs for playgrounds
  packages/converters/src/to-boolean/index.ts
  packages/converters/src/zxy-to-bbox/index.ts
  packages/core/src/array/concat/index.ts
  packages/core/src/array/every/index.ts
  packages/core/src/array/filter/index.ts
  packages/core/src/array/find-index/index.ts
  packages/core/src/array/find-last-index/index.ts
  packages/core/src/array/find-last/index.ts
  packages/core/src/array/find/index.ts
  packages/core/src/array/includes/index.ts
  packages/core/src/array/index-of/index.ts
  packages/core/src/array/map/index.ts
  packages/core/src/array/push/index.ts
  packages/core/src/array/reduce-right/index.ts
  packages/core/src/array/reduce/index.ts
  packages/core/src/array/reverse/index.ts
  packages/core/src/array/shift/index.ts
  packages/core/src/array/slice/index.ts
  packages/core/src/array/some/index.ts
  packages/core/src/array/unshift/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

revert: remove playground tags
  packages/core/src/array/concat/index.ts
  packages/core/src/array/every/index.ts
  packages/core/src/array/filter/index.ts
  packages/core/src/array/find-index/index.ts
  packages/core/src/array/find-last-index/index.ts
  packages/core/src/array/find-last/index.ts
  packages/core/src/array/find/index.ts
  packages/core/src/array/includes/index.ts
  packages/core/src/array/index-of/index.ts
  packages/core/src/array/map/index.ts
  packages/core/src/array/push/index.ts
  packages/core/src/array/reduce-right/index.ts
  packages/core/src/array/reduce/index.ts
  packages/core/src/array/reverse/index.ts
  packages/core/src/array/shift/index.ts
  packages/core/src/array/slice/index.ts
  packages/core/src/array/some/index.ts
  packages/core/src/array/unshift/index.ts
Owners: @belsrc, @brandonjpierce

fix: fix popover position states
  packages/design-system/src/components/options/options.css.ts
Owners: @ArrayKnight, @switzerb

fix: add changeset
  .changeset/eight-suns-type.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: changeset
  .changeset/good-papayas-sleep.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

fix: menu popover fix
  packages/design-system/src/components/menu/menu.css.ts
Owners: @ArrayKnight, @switzerb

test: add unit tests and adjust docs
  packages/core/src/combinators/apply-to/index.test.ts
  packages/core/src/combinators/apply-to/index.ts
  packages/core/src/combinators/apply/index.test.ts
  packages/core/src/combinators/apply/index.ts
  packages/core/src/combinators/composition/index.test.ts
  packages/core/src/combinators/composition/index.ts
  packages/core/src/combinators/constant/index.test.ts
  packages/core/src/combinators/fork/index.test.ts
  packages/core/src/combinators/fork/index.ts
  packages/core/src/combinators/identity/index.test.ts
  packages/core/src/combinators/identity/index.ts
  packages/core/src/combinators/inverse-constant/index.test.ts
  packages/core/src/combinators/inverse-constant/index.ts
Owners: @belsrc, @brandonjpierce

test: add unit tests and adjust docs
  packages/core/src/composition/compose/index.test.ts
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.test.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.test.ts
  packages/core/src/composition/pipe/index.ts
Owners: @belsrc, @brandonjpierce

chore: update story items
  packages/design-system/src/components/slider/slider.stories.tsx
Owners: @ArrayKnight, @switzerb

docs: fix some typos
  packages/core/src/combinators/apply-to/index.ts
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/iterable/range/index.ts
Owners: @belsrc, @brandonjpierce

test: add unit tests and adjust docs
  packages/core/src/logical/and/index.test.ts
  packages/core/src/logical/and/index.ts
  packages/core/src/logical/equality/index.test.ts
  packages/core/src/logical/equality/index.ts
  packages/core/src/logical/nand/index.test.ts
  packages/core/src/logical/nand/index.ts
  packages/core/src/logical/nor/index.test.ts
  packages/core/src/logical/nor/index.ts
  packages/core/src/logical/not/index.test.ts
  packages/core/src/logical/nullish-or/index.test.ts
  packages/core/src/logical/nullish-or/index.ts
  packages/core/src/logical/or/index.test.ts
  packages/core/src/logical/or/index.ts
  packages/core/src/logical/xor/index.ts
Owners: @belsrc, @brandonjpierce

test: fix lint in test files
  packages/core/src/logical/nullish-or/index.test.ts
Owners: @belsrc, @brandonjpierce

feat: add disabled context
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
Owners: @ArrayKnight, @switzerb

chore: remove unneeded style
  packages/design-system/.ladle/theme/slider.css.ts
Owners: @ArrayKnight, @switzerb

chore: remove unneeded provider
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
Owners: @ArrayKnight, @switzerb
