Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @belsrc @shadyendless @switzerb

# Design system
/packages/design-system @shadyendless @switzerb @brandonjpierce
/design-toolkit @shadyendless @switzerb @brandonjpierce

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

style: updated the accordion component to match the naming convention
  design-toolkit/components/src/components/accordion/accordion-group.stories.tsx
  design-toolkit/components/src/components/accordion/accordion.stories.tsx
  design-toolkit/components/src/components/accordion/index.tsx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

style: remove composeRenderProps
  design-toolkit/components/src/components/accordion/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update icons and dropdown style
  design-toolkit/components/src/components/combobox/combobox.stories.tsx
  design-toolkit/components/src/components/combobox/index.tsx
  design-toolkit/components/src/components/icon/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: remove unused icons
  design-toolkit/components/src/icons/chevron-down.tsx
  design-toolkit/components/src/icons/chevron-fill-down.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: remove duplicate declaration
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add todo and remove icon export
  design-toolkit/components/src/index.ts
  design-toolkit/components/src/types/types.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: remove unused index file
  design-toolkit/components/src/icons/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: move fontsource dependences into peer
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update pnpm-lock and add changeset
  .changeset/young-crabs-hear.md
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: correct version
  design-toolkit/icons/CHANGELOG.md
  design-toolkit/icons/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: formatting
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: regen some things
  design-toolkit/components/package.json
  package.json
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: move onlyBuiltDependencies to the yaml
  package.json
  pnpm-workspace.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: as tsexpect error
  design-toolkit/components/src/components/accordion/index.tsx
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add TODO items
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: remove the multiselect science
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: add tiny test
  design-toolkit/components/src/components/combobox/combobox.test.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: querybuilder essentials
  design-toolkit/components/package.json
  design-toolkit/components/src/components/combobox/index.tsx
  design-toolkit/components/src/components/query-builder/action-element.tsx
  design-toolkit/components/src/components/query-builder/constants.ts
  design-toolkit/components/src/components/query-builder/group.tsx
  design-toolkit/components/src/components/query-builder/index.tsx
  design-toolkit/components/src/components/query-builder/query-builder.stories.tsx
  design-toolkit/components/src/components/query-builder/querybuilder.css
  design-toolkit/components/src/components/query-builder/rule.tsx
  design-toolkit/components/src/components/query-builder/types.ts
  design-toolkit/components/src/components/query-builder/utils.test.ts
  design-toolkit/components/src/components/query-builder/utils.ts
  design-toolkit/components/src/components/query-builder/value-editor.tsx
  design-toolkit/components/src/components/query-builder/value-selector.tsx
  design-toolkit/components/src/components/radio/index.tsx
  design-toolkit/components/src/components/switch/index.tsx
  design-toolkit/components/src/components/text-field/index.tsx
  design-toolkit/components/src/icons/trash.tsx
  design-toolkit/components/src/index.css
  design-toolkit/components/src/index.ts
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: remove stray trash icon
  design-toolkit/components/src/icons/trash.tsx
  design-toolkit/components/src/index.ts
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: clean up value selector
  design-toolkit/components/src/components/query-builder/query-builder.stories.tsx
  design-toolkit/components/src/components/query-builder/value-selector.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: make combinator default to AND and ensure vertical width
  design-toolkit/components/src/components/query-builder/index.tsx
  design-toolkit/components/src/components/query-builder/query-builder.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: move styles into querybuilder.css
  design-toolkit/components/src/components/query-builder/index.tsx
  design-toolkit/components/src/components/query-builder/querybuilder.css
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: add changeset
  .changeset/five-knives-try.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: add notes and remove sections from the value selector until we support in the combobox
  design-toolkit/components/src/components/query-builder/index.tsx
  design-toolkit/components/src/components/query-builder/query-builder.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: memoize function
  design-toolkit/components/src/components/query-builder/rule.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: rollback unintentional merge artifact
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: make sure qb is exported as independent package
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: remove grumpy-making memoization
  design-toolkit/components/src/components/query-builder/rule.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add in support for sections
  design-toolkit/components/src/components/combobox/combobox.stories.tsx
  design-toolkit/components/src/components/combobox/index.tsx
  design-toolkit/components/src/types/types.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: export ComboBoxSection
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add examples and fix render issue with static items
  design-toolkit/components/src/components/combobox/combobox.stories.tsx
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: initial sprite building
  packages/smeegl/README.md
  packages/smeegl/package.json
  packages/smeegl/src/lib.ts
  packages/smeegl/src/main.ts
  packages/smeegl/tsconfig.json
  packages/smeegl/typedoc.mjs
  packages/smeegl/vitest.config.js
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

build: update lock after moving folder
  packages/smeegl/src/lib.ts
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

refactor: split into util folder
  packages/smeegl/src/utils/clean-up.ts
  packages/smeegl/src/utils/file-sys.ts
  packages/smeegl/src/utils/find-sprites.ts
  packages/smeegl/src/utils/gather-sprites.ts
  packages/smeegl/src/utils/generate-sprites.ts
  packages/smeegl/src/utils/types.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: add constant generation
  packages/smeegl/src/lib.ts
  packages/smeegl/src/main.ts
  packages/smeegl/src/utils/generate-const.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

refactor: clean up types
  biome.json
  packages/smeegl/src/lib.ts
  packages/smeegl/src/main.ts
  packages/smeegl/src/utils/clean-up.ts
  packages/smeegl/src/utils/find-sprites.ts
  packages/smeegl/src/utils/gather-sprites.ts
  packages/smeegl/src/utils/generate-const.ts
  packages/smeegl/src/utils/generate-sprites.ts
  packages/smeegl/src/utils/types.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

refactor: change error path to pass down tmp dir
  packages/smeegl/src/main.ts
  packages/smeegl/src/utils/clean-up.ts
  packages/smeegl/src/utils/find-sprites.ts
  packages/smeegl/src/utils/gather-sprites.ts
  packages/smeegl/src/utils/generate-const.ts
  packages/smeegl/src/utils/generate-sprites.ts
  packages/smeegl/src/utils/types.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: break the license into another file and include it in the indexer
  package.json
  scripts/indexer.mjs
  scripts/license.js
  scripts/license.mjs
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

refactor: move smeegl to tooling
  pnpm-lock.yaml
  tooling/smeegl/README.md
  tooling/smeegl/package.json
  tooling/smeegl/src/lib.ts
  tooling/smeegl/src/main.ts
  tooling/smeegl/src/utils/clean-up.ts
  tooling/smeegl/src/utils/file-sys.ts
  tooling/smeegl/src/utils/find-sprites.ts
  tooling/smeegl/src/utils/gather-sprites.ts
  tooling/smeegl/src/utils/generate-const.ts
  tooling/smeegl/src/utils/generate-sprites.ts
  tooling/smeegl/src/utils/types.ts
  tooling/smeegl/tsconfig.json
  tooling/smeegl/typedoc.mjs
  tooling/smeegl/vitest.config.js
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

build: change biome override
  biome.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb
