Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

chore: remove unnecessary dev deps
  apps/next/package.json
  packages/constants/package.json
  packages/converters/package.json
  packages/core/package.json
  packages/design-system/package.json
  packages/formatters/package.json
  packages/geo/package.json
  packages/math/package.json
  packages/predicates/package.json
  packages/temporal/package.json
  packages/web-worker/package.json
  packages/websocket/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

chore(docs): use typedoc directly (#146)
  .ls-lint.yml
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/rspress.config.ts
  apps/docs/src/packages/converters/to-boolean.mdx
  apps/docs/typedoc.config.mjs
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: hide header in typedoc output files
  apps/docs/typedoc.config.mjs
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: hide header in typedoc output files (#150)
  apps/docs/typedoc.config.mjs
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

getting started with typedoc
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/typedoc.config.mjs
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: embed ladle in typedoc
  apps/docs/package.json
  apps/docs/typedoc.config.mjs
  packages/design-system/src/component-playground.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: embed ladle in typedoc (#157)
  apps/docs/package.json
  apps/docs/typedoc.config.mjs
  packages/design-system/src/component-playground.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: lint design system
  packages/core/src/index.ts
  packages/design-system/biome.json
  packages/design-system/package.json
  packages/design-system/src/components/group/group.tsx
  packages/design-system/src/components/input/input.tsx
  packages/design-system/src/components/merge-provider/merge-provider.tsx
  packages/design-system/src/components/query-builder/dataset-sample.ts
  packages/design-system/src/components/query-builder/group.tsx
  packages/design-system/src/components/query-builder/value-editor.tsx
  packages/design-system/src/components/search-field/search-field.css.ts
  packages/design-system/src/components/tabs/tabs.test.tsx
  packages/design-system/src/components/textarea/textarea.tsx
  packages/design-system/src/hooks/use-collection-render/use-collection-render.tsx
  packages/design-system/src/hooks/use-defaults/types.ts
  packages/design-system/src/hooks/use-defaults/use-defaults.test.tsx
  packages/design-system/src/hooks/use-slot/use-slot.ts
  packages/design-system/src/hooks/use-theme/types.ts
  packages/design-system/src/hooks/use-theme/use-theme.test.tsx
  packages/design-system/src/hooks/use-tree/use-tree.test.ts
  packages/design-system/src/hooks/use-tree/use-tree.ts
  packages/design-system/src/hooks/use-tree/utils.ts
  packages/design-system/src/ladle/actions.test.ts
  packages/design-system/src/styles/reset.css.ts
  packages/design-system/src/types/react.d.ts
  packages/design-system/src/utils/css.ts
  packages/design-system/src/utils/props.ts
Owners: @belsrc, @brandonjpierce, @ArrayKnight, @switzerb

chore: a11y lint errors
  packages/design-system/biome.json
  packages/design-system/src/components/picker/picker.stories.tsx
  packages/design-system/src/components/query-builder/query-builder.stories.tsx
  packages/design-system/src/components/search-field/search-field.stories.tsx
  packages/design-system/src/components/search-field/search-field.test.tsx
  packages/design-system/src/components/select/select.stories.tsx
  packages/design-system/src/components/select/select.test.tsx
  packages/design-system/src/components/textarea/textarea.tsx
  packages/design-system/src/components/tree/tree.stories.tsx
  packages/design-system/src/components/tree/tree.test.tsx
Owners: @ArrayKnight, @switzerb

fix: remove accidental change
  packages/core/src/index.ts
Owners: @belsrc, @brandonjpierce

updates applies styles to separate optional component
  apps/next/src/theme/index.ts
  packages/design-system/.ladle/components.css.ts
  packages/design-system/.ladle/theme/index.ts
  packages/design-system/.ladle/theme/slider.css.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/hooks/use-defaults/types.ts
  packages/design-system/src/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: add repository to package.jsons
  package.json
  packages/constants/package.json
  packages/converters/package.json
  packages/core/package.json
  packages/design-system/package.json
  packages/formatters/package.json
  packages/geo/package.json
  packages/math/package.json
  packages/predicates/package.json
  packages/temporal/package.json
  packages/web-worker/package.json
  packages/websocket/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

chore: stub package readmes
  packages/constants/README.md
  packages/converters/README.md
  packages/core/README.md
  packages/formatters/README.md
  packages/geo/README.md
  packages/math/README.md
  packages/predicates/README.md
  packages/temporal/README.md
  packages/web-worker/README.md
  packages/websocket/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @kalisjoshua

chore: props.ts tweaks
  packages/design-system/src/utils/props.ts
Owners: @ArrayKnight, @switzerb

chore: add repository and readmes for tooling packages
  tooling/biome-config/README.md
  tooling/biome-config/package.json
  tooling/eslint-config/README.md
  tooling/eslint-config/package.json
  tooling/prettier-config/README.md
  tooling/prettier-config/package.json
  tooling/typescript-config/README.md
  tooling/typescript-config/package.json
  tooling/vitest-config/README.md
  tooling/vitest-config/package.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc

getting started with typedoc
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/typedoc.config.mjs
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: embed ladle in typedoc (#157)
  apps/docs/package.json
  apps/docs/typedoc.config.mjs
  packages/design-system/src/component-playground.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

fix(lint): edit settings and use of typedoc tool
  apps/docs/custom.css
  apps/docs/package.json
  apps/docs/typedoc.config.mjs
  packages/converters/src/boolean-to-number/index.ts
  packages/converters/src/to-boolean/index.ts
  packages/converters/src/xyz-to-bbox/index.ts
  packages/core/src/combinators/a/index.ts
  packages/core/src/combinators/b/index.ts
  packages/core/src/combinators/i/index.ts
  packages/core/src/combinators/k/index.ts
  packages/core/src/combinators/phi/index.ts
  packages/core/src/logical/and/index.ts
  packages/core/src/logical/equality/index.ts
  packages/core/src/logical/nand/index.ts
  packages/core/src/logical/nor/index.ts
  packages/core/src/logical/not/index.ts
  packages/core/src/logical/or/index.ts
  packages/core/src/logical/xor/index.ts
  packages/core/src/object/associate/index.ts
  packages/core/src/object/property/index.ts
  packages/core/src/utility/tap/index.ts
  packages/design-system/src/components/tree/types.ts
  packages/geo/src/cartesian.ts
  packages/geo/src/coordinates/coordinate.ts
  packages/geo/src/coordinates/latlon/internal/lexer.ts
  packages/geo/src/coordinates/latlon/internal/parse.ts
  packages/geo/src/coordinates/latlon/internal/pipes/fix-dividers.ts
  packages/geo/src/coordinates/latlon/internal/pipes/index.ts
  packages/geo/src/coordinates/latlon/internal/pipes/simpler.ts
  packages/geo/src/patterning.ts
  packages/predicates/src/is-noyes/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

fix build; add dependency
  apps/docs/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: don't add license to docs md files
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/src/pages/index.md
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/markdown-page.md
  scripts/license.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: docusaurus scaffold
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/biome.json
  apps/docs/docs/intro.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/markdown-page.md
  apps/docs/static/.nojekyll
  apps/docs/static/img/banner.jpg
  apps/docs/static/img/favicon.ico
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: update copyright
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: missed a few
  apps/docs/docs/intro.md
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

tooltip working, test added
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.test.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
Owners: @ArrayKnight, @switzerb

chore: implement search
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: mergeReadme instead of readme: none
  README.md
  apps/docs/typedoc.config.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: cleanup and add codeblock demos
  apps/docs/docs/intro.md
  apps/docs/docs/packages/constants.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  apps/docs/typedoc.config.mjs
  packages/design-system/README.md
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: more cleanup
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: ignore footer link for now
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: warn on broken links for now
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: ls-lint ignore docusaurus output
  .ls-lint.yml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: slight config tweaks
  apps/docs/docs/config/another-one.md
  apps/docs/docs/config/biome-config.md
  apps/docs/docs/config/eslint-config.md
  apps/docs/docs/config/prettier-config.md
  apps/docs/docs/config/typescript-config.md
  apps/docs/docs/config/vitest-config.md
  apps/docs/docs/packages/converters.md
  apps/docs/docs/packages/demo-ad-hoc-page.md
  apps/docs/docs/packages/design-system.md
  apps/docs/docs/packages/formatters.md
  apps/docs/docs/packages/geo.md
  apps/docs/docs/packages/math.md
  apps/docs/docs/packages/predicates.md
  apps/docs/docs/packages/second-page.md
  apps/docs/docs/packages/temporal.md
  apps/docs/docs/packages/web-worker.md
  apps/docs/docs/packages/websocket.md
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
  apps/docs/typedoc.config.mjs
  packages/converters/src/xyz-to-bbox/index.ts
  packages/design-system/src/concepts.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: tweaks. demo update
  apps/docs/docs/packages/demo-ad-hoc-page.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/typedoc.mjs
  packages/design-system/documentation/concepts.md
  packages/design-system/src/documentation/assets/component_diagram.png
  packages/design-system/src/documentation/concepts.md
  packages/design-system/src/documentation/container-queries.md
  packages/design-system/src/documentation/contribution.md
  packages/design-system/src/documentation/implementation.md
  packages/design-system/src/documentation/theming.md
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

chore: more tweaks
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: more config tweaks
  apps/docs/docusaurus.config.ts
  apps/docs/tsconfig.json
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: update readme
  apps/docs/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: fix warning/info syntax in readme
  apps/docs/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: again 🤦
  apps/docs/README.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: update some jsdoc tags
  packages/converters/src/boolean-to-number/index.ts
  packages/converters/src/to-boolean/index.ts
  packages/converters/src/xyz-to-bbox/index.ts
  packages/core/src/combinators/a/index.ts
  packages/core/src/combinators/b/index.ts
  packages/core/src/combinators/i/index.ts
  packages/core/src/combinators/k/index.ts
  packages/core/src/combinators/phi/index.ts
  packages/core/src/combinators/th/index.ts
  packages/core/src/logical/and/index.ts
  packages/core/src/logical/equality/index.ts
  packages/core/src/logical/nand/index.ts
  packages/core/src/logical/nor/index.ts
  packages/core/src/logical/not/index.ts
  packages/core/src/logical/or/index.ts
  packages/core/src/logical/xor/index.ts
  packages/core/src/object/associate/index.ts
  packages/core/src/object/property/index.ts
  packages/core/src/utility/tap/index.ts
  packages/design-system/src/components/tree/types.ts
  packages/geo/src/cartesian.ts
  packages/geo/src/coordinates/coordinate.ts
  packages/geo/src/coordinates/latlon/internal/lexer.ts
  packages/geo/src/coordinates/latlon/internal/parse.ts
  packages/geo/src/coordinates/latlon/internal/pipes/fix-dividers.ts
  packages/geo/src/coordinates/latlon/internal/pipes/index.ts
  packages/geo/src/coordinates/latlon/internal/pipes/simpler.ts
  packages/geo/src/patterning.ts
  packages/predicates/src/is-noyes/index.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

feat: katex support
  apps/docs/docs/packages/demo-ad-hoc-page.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @ArrayKnight @belsrc

# Core pacakge
/packages/core @belsrc @brandonjpierce

# Design system pacakge
/packages/design-system @ArrayKnight @switzerb

# Geo package
/packages/geo @kalisjoshua @brandonjpierce
