Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @belsrc @shadyendless @switzerb

# Design system
/packages/design-system @shadyendless @switzerb @brandonjpierce
/design-toolkit @shadyendless @switzerb @brandonjpierce

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

chore: add changeset
  .changeset/happy-students-whisper.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

Added preliminary popover component to the design system
  design-toolkit/components/src/components/popover/index.tsx
  design-toolkit/components/src/components/popover/popover.stories.tsx
  design-toolkit/components/src/components/tabs/summary.docs.mdx
  design-toolkit/components/src/components/tabs/tab-list.docs.mdx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: address comparison value order and imports
  packages/predicates/src/does-not-start-with/index.ts
  packages/predicates/src/is-between/index.test.ts
  packages/predicates/src/is-between/index.ts
  packages/predicates/src/is-not-between/index.test.ts
  packages/predicates/src/is-not-between/index.ts
  packages/predicates/src/is-not-in/index.ts
  packages/predicates/src/is-not-like/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: add changeset
  .changeset/rich-crews-look.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: port slider
  .changeset/pretty-melons-allow.md
  .npmrc
  design-toolkit/components/src/components/slider/index.test.tsx
  design-toolkit/components/src/components/slider/index.tsx
  design-toolkit/components/src/components/slider/range-slider.stories.tsx
  design-toolkit/components/src/components/slider/slider.stories.tsx
  design-toolkit/components/src/index.ts
  packages/design-system/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: updates the readme for the design toolkit
  design-toolkit/components/README.md
Owners: @shadyendless, @switzerb, @brandonjpierce

Implement popover component
  design-toolkit/components/src/components/popover/index.tsx
  design-toolkit/components/src/components/popover/popover.stories.tsx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

Rename story example
  design-toolkit/components/src/components/popover/popover.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

Add tests and types
  .changeset/curly-fans-stare.md
  design-toolkit/components/src/components/popover/index.test.tsx
  design-toolkit/components/src/components/popover/index.tsx
  design-toolkit/components/src/components/popover/types.ts
  design-toolkit/components/src/index.ts
  design-toolkit/icons/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

build: add minor version flexibility
  packages/design-system/package.json
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

feat: port slider
  .changeset/pretty-melons-allow.md
  .npmrc
  design-toolkit/components/src/components/slider/index.test.tsx
  design-toolkit/components/src/components/slider/index.tsx
  design-toolkit/components/src/components/slider/range-slider.stories.tsx
  design-toolkit/components/src/components/slider/slider.stories.tsx
  design-toolkit/components/src/index.ts
  packages/design-system/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

build: update lock file
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: first draft of table component for destk
  design-toolkit/components/package.json
  design-toolkit/components/src/components/icon/index.tsx
  design-toolkit/components/src/components/table/actions-cell.tsx
  design-toolkit/components/src/components/table/index.tsx
  design-toolkit/components/src/components/table/table-body.tsx
  design-toolkit/components/src/components/table/table-cell.tsx
  design-toolkit/components/src/components/table/table-header-column.tsx
  design-toolkit/components/src/components/table/table-header.tsx
  design-toolkit/components/src/components/table/table-row.tsx
  design-toolkit/components/src/components/table/table.stories.tsx
  design-toolkit/components/src/components/table/table.test.tsx
  design-toolkit/components/src/index.css
  design-toolkit/components/src/index.ts
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

Use tv for styles
  design-toolkit/components/src/components/popover/index.tsx
  design-toolkit/components/src/components/popover/styles.ts
Owners: @shadyendless, @switzerb, @brandonjpierce
