Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

fix: update the color story
  design-toolkit/components/src/components/foundation/colors.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: fixed color story
  design-toolkit/components/src/components/foundation/colors.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: added a fg- utility
  design-toolkit/components/src/components/foundation/colors.stories.tsx
  design-toolkit/components/src/index.css
  design-toolkit/components/src/lib/utils.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: change icon-color- to icon- and add advisory to badge
  design-toolkit/components/src/components/badge/badge.stories.tsx
  design-toolkit/components/src/components/badge/index.tsx
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/components/floating-button/index.tsx
  design-toolkit/components/src/components/icon-button/index.tsx
  design-toolkit/components/src/components/toggle-icon-button/index.tsx
  design-toolkit/components/src/components/tooltip/tooltip.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: merge
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update button spacing and typography
  design-toolkit/components/src/index.ts
  packages/bus/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: updated the toggle disabled
  design-toolkit/components/src/components/toggle-icon-button/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add default for tooltip placement
  design-toolkit/components/src/components/tooltip/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feature: add missing classification badge (it is a meta comment!)
  design-toolkit/components/src/components/classification-badge/classification-badge.stories.tsx
  design-toolkit/components/src/components/classification-badge/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feature: truncate
  design-toolkit/components/src/components/classification-badge/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: swap from text-* to fg-* for color properties
  design-toolkit/components/src/components/avatar/index.tsx
  design-toolkit/components/src/components/badge/index.tsx
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/components/classification-badge/classification-badge.test.tsx
  design-toolkit/components/src/components/classification-badge/index.tsx
  design-toolkit/components/src/components/classification-banner/classification-banner.test.tsx
  design-toolkit/components/src/components/classification-banner/index.tsx
  design-toolkit/components/src/components/foundation/colors.stories.tsx
  design-toolkit/components/src/components/foundation/elevation.stories.tsx
  design-toolkit/components/src/components/foundation/radius.stories.tsx
  design-toolkit/components/src/components/foundation/spacing.stories.tsx
  design-toolkit/components/src/components/foundation/typography.stories.tsx
  design-toolkit/components/src/components/icon-button/index.tsx
  design-toolkit/components/src/components/tooltip/index.tsx
  design-toolkit/components/src/components/tooltip/tooltip.stories.tsx
  design-toolkit/components/src/components/tooltip/tooltip.test.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

test: fix failing test
  design-toolkit/components/src/components/classification-banner/classification-banner.test.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add basic documentation to the existing components
  design-toolkit/components/.storybook/docs.tsx
  design-toolkit/components/.storybook/main.ts
  design-toolkit/components/.storybook/manager.ts
  design-toolkit/components/.storybook/preview.ts
  design-toolkit/components/package.json
  design-toolkit/components/src/components/avatar/avatar.stories.tsx
  design-toolkit/components/src/components/badge/badge.stories.tsx
  design-toolkit/components/src/components/button/button.stories.tsx
  design-toolkit/components/src/components/classification-badge/classification-badge.stories.tsx
  design-toolkit/components/src/components/classification-banner/classification-banner.stories.tsx
  design-toolkit/components/src/components/floating-button/floating-button.stories.tsx
  design-toolkit/components/src/components/foundation/colors.stories.tsx
  design-toolkit/components/src/components/foundation/elevation.stories.tsx
  design-toolkit/components/src/components/foundation/radius.stories.tsx
  design-toolkit/components/src/components/foundation/spacing.stories.tsx
  design-toolkit/components/src/components/foundation/typography.stories.tsx
  design-toolkit/components/src/components/icon-button/icon-button.stories.tsx
  design-toolkit/components/src/components/toggle-icon-button/toggle-icon-button.stories.tsx
  design-toolkit/components/src/components/tooltip/tooltip.stories.tsx
  design-toolkit/components/static/avatar-example.jpeg
  design-toolkit/components/tsconfig.json
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

chore: fix lockfile
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: changeset
  .changeset/sharp-spiders-juggle.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: move documentation to comments/types rather than embedding in stories
  design-toolkit/components/src/components/avatar/avatar.stories.tsx
  design-toolkit/components/src/components/avatar/index.tsx
  design-toolkit/components/src/components/badge/badge.stories.tsx
  design-toolkit/components/src/components/badge/index.tsx
  design-toolkit/components/src/components/button/button.stories.tsx
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/components/classification-badge/classification-badge.stories.tsx
  design-toolkit/components/src/components/classification-badge/index.tsx
  design-toolkit/components/src/components/classification-banner/classification-banner.stories.tsx
  design-toolkit/components/src/components/classification-banner/index.tsx
  design-toolkit/components/src/components/icon-button/icon-button.stories.tsx
  design-toolkit/components/src/components/icon-button/index.tsx
  design-toolkit/components/src/components/toggle-icon-button/index.tsx
  design-toolkit/components/src/components/toggle-icon-button/toggle-icon-button.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update configuration to generate more accurate prop descriptions
  design-toolkit/components/.storybook/main.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: swap to the @link block instead of the a tag in the docblock
  design-toolkit/components/src/components/button/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

style: update alt text for avatar examples
  design-toolkit/components/src/components/avatar/avatar.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: initial accordion setup
  design-toolkit/components/src/components/accordion/accordion.stories.tsx
  design-toolkit/components/src/components/accordion/index.tsx
  design-toolkit/components/src/components/classification-badge/classification-badge.stories.tsx
  design-toolkit/components/src/components/classification-banner/classification-banner.stories.tsx
  design-toolkit/components/src/icons/chevron-down.tsx
  design-toolkit/components/src/icons/index.ts
  design-toolkit/components/src/icons/kebab.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: circular type deps
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/hooks/use-defaults/types.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: update accordion component and update some token names
  design-toolkit/components/.storybook/preview.ts
  design-toolkit/components/package.json
  design-toolkit/components/src/components/accordion/accordion-group.stories.tsx
  design-toolkit/components/src/components/accordion/accordion.stories.tsx
  design-toolkit/components/src/components/accordion/index.tsx
  design-toolkit/components/src/components/classification-badge/classification-badge.stories.tsx
  design-toolkit/components/src/components/classification-badge/index.tsx
  design-toolkit/components/src/components/classification-banner/classification-banner.stories.tsx
  design-toolkit/components/src/components/classification-banner/index.tsx
  design-toolkit/components/src/components/foundation/colors.stories.tsx
  design-toolkit/components/src/components/foundation/radius.stories.tsx
  design-toolkit/components/src/components/foundation/spacing.stories.tsx
  design-toolkit/components/src/components/foundation/typography.stories.tsx
  design-toolkit/components/src/components/icon-button/icon-button.stories.tsx
  design-toolkit/components/src/components/icon-button/index.tsx
  design-toolkit/components/src/index.css
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update padding issue on the accordion
  design-toolkit/components/src/components/accordion/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: attempt to fix build error
  apps/docs/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: regenerate pnpm-lock with pnpm 9
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: change node version to 18
  .nvmrc
  apps/docs/package.json
  package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: attempt to update pnpm-lock based on main
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: added the checkbox component
  design-toolkit/components/src/components/checkbox/checkbox.stories.tsx
  design-toolkit/components/src/components/checkbox/checkbox.test.tsx
  design-toolkit/components/src/components/checkbox/index.tsx
  design-toolkit/components/src/icons/index.ts
  design-toolkit/components/src/icons/minus.tsx
  design-toolkit/components/src/index.css
  package.json
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

chore: changeset
  .changeset/cool-waves-search.md
  design-toolkit/components/package.json
  design-toolkit/components/src/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

docs: adjust docs in event broadcast
  packages/bus/src/broadcast/constants.ts
  packages/bus/src/broadcast/index.ts
  packages/bus/src/broadcast/types.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

build: adjust cli output level in DS
  packages/design-system/tsup.config.ts
  packages/design-system/tsup.css.config.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

build: adjust some circular deps
  packages/design-system/src/components/number-field/types.ts
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/hooks/use-defaults/types.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

docs: more jsdoc adjustments
  packages/core/src/object/lens/index.ts
  packages/math/src/clamp/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

build: change to simple doc build
  apps/docs/package.json
  package.json
  turbo.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: button stories cleanup
  design-toolkit/components/src/components/button/button.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add documentation to the checkbox component
  design-toolkit/components/.storybook/preview.ts
  design-toolkit/components/src/components/checkbox/checkbox-group.stories.tsx
  design-toolkit/components/src/components/checkbox/checkbox.stories.tsx
  design-toolkit/components/src/components/checkbox/index.tsx
  design-toolkit/components/src/components/foundation/colors.stories.tsx
  design-toolkit/components/src/components/foundation/radius.stories.tsx
  design-toolkit/components/src/components/foundation/spacing.stories.tsx
  design-toolkit/components/src/components/foundation/typography.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update default background colors
  design-toolkit/components/.storybook/preview.ts
  design-toolkit/components/src/components/foundation/colors.stories.tsx
  design-toolkit/components/src/components/foundation/elevation.stories.tsx
  design-toolkit/components/src/components/foundation/radius.stories.tsx
  design-toolkit/components/src/components/foundation/typography.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update spacing story bg color
  design-toolkit/components/src/components/foundation/spacing.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: added the radio component
  design-toolkit/components/src/components/radio/index.tsx
  design-toolkit/components/src/components/radio/radio.stories.tsx
  design-toolkit/components/src/components/radio/radio.test.tsx
  design-toolkit/components/src/index.css
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

chore: changeset
  .changeset/red-islands-switch.md
  design-toolkit/components/src/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @belsrc @shadyendless @switzerb

# Design system
/packages/design-system @shadyendless @switzerb @brandonjpierce
/design-toolkit @shadyendless @switzerb @brandonjpierce

# Geo package
/packages/geo @kalisjoshua @brandonjpierce
