Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @belsrc @shadyendless @switzerb

# Design system
/packages/design-system @shadyendless @switzerb @brandonjpierce
/design-toolkit @shadyendless @switzerb @brandonjpierce

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

feat: set up the combobox
  design-toolkit/components/src/components/combobox/combobox.stories.tsx
  design-toolkit/components/src/components/combobox/index.tsx
  design-toolkit/components/src/icons/chevron-down.tsx
  design-toolkit/components/src/icons/chevron-fill-down.tsx
  design-toolkit/components/src/icons/index.ts
  design-toolkit/components/src/index.css
  design-toolkit/components/src/types/types.ts
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

chore: changeset
  .changeset/thirty-ears-arrive.md
  design-toolkit/components/src/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: remove console log
  design-toolkit/components/src/components/checkbox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update package.json exports
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: hoist label styles outside of the component
  design-toolkit/components/src/components/switch/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update story for chips
  design-toolkit/components/src/components/chip/chip.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add a comment to describe the Coordinator in the chip component
  design-toolkit/components/src/components/chip/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: fix style issues with the disabled combobox
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update readonly style for textfield
  design-toolkit/components/src/components/text-field/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update readonly styles
  design-toolkit/components/src/components/text-area/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

refactor: clean up hook imports
  packages/design-system/src/hooks/index.ts
  packages/design-system/src/hooks/use-collection-render/index.ts
  packages/design-system/src/hooks/use-context-props/index.ts
  packages/design-system/src/hooks/use-context-props/use-context-props.ts
  packages/design-system/src/hooks/use-defaults/index.ts
  packages/design-system/src/hooks/use-defaults/types.ts
  packages/design-system/src/hooks/use-defaults/use-defaults.tsx
  packages/design-system/src/hooks/use-propagating-press/index.ts
  packages/design-system/src/hooks/use-propagating-press/use-propagating-press.ts
  packages/design-system/src/hooks/use-slot/index.ts
  packages/design-system/src/hooks/use-theme/index.ts
  packages/design-system/src/hooks/use-theme/types.ts
  packages/design-system/src/hooks/use-theme/use-theme.css.ts
  packages/design-system/src/hooks/use-tree/index.ts
  packages/design-system/src/hooks/use-tree/use-tree.ts
  packages/design-system/src/hooks/use-update-effect/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

refactor: clean util file struct and imports
  packages/design-system/src/utils/css/index.test.ts
  packages/design-system/src/utils/css/index.ts
  packages/design-system/src/utils/events.test.ts
  packages/design-system/src/utils/events.ts
  packages/design-system/src/utils/events/index.test.ts
  packages/design-system/src/utils/events/index.ts
  packages/design-system/src/utils/props/index.test.ts
  packages/design-system/src/utils/props/index.ts
  packages/design-system/src/utils/validators/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

refactor: clean up style imports
  packages/design-system/src/styles/theme.css.ts
  packages/design-system/src/styles/theme.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

refactor: change hooks to normal structure
  packages/design-system/src/hooks/use-collection-render/index.tsx
  packages/design-system/src/hooks/use-context-props/index.test.tsx
  packages/design-system/src/hooks/use-context-props/index.ts
  packages/design-system/src/hooks/use-defaults/index.test.tsx
  packages/design-system/src/hooks/use-defaults/index.tsx
  packages/design-system/src/hooks/use-propagating-press/index.ts
  packages/design-system/src/hooks/use-slot/index.ts
  packages/design-system/src/hooks/use-theme/index.test.tsx
  packages/design-system/src/hooks/use-theme/index.tsx
  packages/design-system/src/hooks/use-tree/index.test.ts
  packages/design-system/src/hooks/use-tree/index.ts
  packages/design-system/src/hooks/use-update-effect/index.ts
  packages/design-system/src/hooks/use-update-effect/use-update-effect.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: add changeset
  .changeset/short-rabbits-visit.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: make icons story responsive
  design-toolkit/components/src/icons/icons.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: inline the svgo config for presets
  design-toolkit/icons/src/svgo.config.mjs
  design-toolkit/icons/svgr.config.mjs
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: replace local icons with library icons
  design-toolkit/components/src/components/button/button.stories.tsx
  design-toolkit/components/src/components/chip/chip.stories.tsx
  design-toolkit/components/src/components/classification-badge/classification-badge.stories.tsx
  design-toolkit/components/src/components/floating-button/floating-button.stories.tsx
  design-toolkit/components/src/components/icon-button/icon-button.stories.tsx
  design-toolkit/components/src/components/icon/icon.stories.tsx
  design-toolkit/components/src/components/icon/index.tsx
  design-toolkit/components/src/components/toggle-icon-button/toggle-icon-button.stories.tsx
  design-toolkit/components/src/components/tooltip/tooltip.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: update index file
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: update incorrect add icon
  design-toolkit/icons/src/icons/add.tsx
  design-toolkit/icons/src/svg/add.svg
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: update story to be less wonky
  design-toolkit/components/src/icons/icons.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: export icon component independently
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: replace the ones I missed
  design-toolkit/components/src/components/avatar/index.tsx
  design-toolkit/components/src/components/checkbox/index.tsx
  design-toolkit/components/src/components/chip/index.tsx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: color should be a class not a prop
  design-toolkit/components/src/components/icon/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: use package icons in next app
  apps/next/package.json
  apps/next/src/app/bus.tsx
  apps/next/src/app/buttons.tsx
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: remove icons from export
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

refactor: flatten hook imports
  packages/design-system/src/hooks/use-context-props/index.test.tsx
  packages/design-system/src/hooks/use-defaults/index.test.tsx
  packages/design-system/src/hooks/use-theme/index.test.tsx
  packages/design-system/src/hooks/use-theme/index.tsx
  packages/design-system/src/hooks/use-theme/use-theme.stories.tsx
  packages/design-system/src/hooks/use-tree/index.test.ts
  packages/design-system/src/hooks/use-tree/index.ts
  packages/design-system/src/hooks/use-tree/utils.test.ts
  packages/design-system/src/hooks/use-tree/utils.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

style: update the story style and use an inline-block span
  design-toolkit/components/src/components/icon/index.tsx
  design-toolkit/components/src/icons/icons.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add check for raw svg in button
  design-toolkit/components/src/components/button/index.tsx
  design-toolkit/components/src/lib/react.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add optional chaining
  design-toolkit/components/src/lib/react.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: make sure that the icons aren't regenerating on every build from silly formatting conflicts
  design-toolkit/icons/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: export util function
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add the expectsIconWrapper to more components
  design-toolkit/components/src/components/icon-button/index.tsx
  design-toolkit/components/src/components/toggle-icon-button/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: address feedback
  .changeset/sharp-spiders-juggle.md
  design-toolkit/components/src/components/text-field/index.tsx
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: changeset
  .changeset/metal-kids-exercise.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: correct rand fn
  packages/math/src/random/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: tree component
  design-toolkit/components/src/components/toggle-icon-button/index.tsx
  design-toolkit/components/src/components/tree/README.md
  design-toolkit/components/src/components/tree/index.tsx
  design-toolkit/components/src/components/tree/tree.stories.tsx
  design-toolkit/components/src/icons/chevron-down.tsx
  design-toolkit/components/src/icons/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: formatting
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: update textfield to use new icons package
  design-toolkit/components/src/components/text-field/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: changeset
  .changeset/itchy-buses-remain.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb
