Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @belsrc @shadyendless @switzerb

# Design system
/packages/design-system @shadyendless @switzerb @brandonjpierce
/design-toolkit @shadyendless @switzerb @brandonjpierce

# Geo package
/packages/geo @kalisjoshua @brandonjpierce

fix: narrow block directive for icon to only the combobox
  design-toolkit/components/src/components/combobox/index.tsx
  design-toolkit/components/src/components/icon/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: add shebang
  tooling/smeegl/src/main.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: remove left-over log
  tooling/smeegl/src/main.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: revert bad merge change
  design-toolkit/components/src/index.css
Owners: @shadyendless, @switzerb, @brandonjpierce

docs: add a little more to readme
  tooling/smeegl/README.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

docs: readme tweak
  tooling/smeegl/README.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

build: move some packages to dev deps
  pnpm-lock.yaml
  tooling/smeegl/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: allow the props for the input to be passed in through the Text* components
  design-toolkit/components/src/components/text-area/index.tsx
  design-toolkit/components/src/components/text-area/text-area.stories.tsx
  design-toolkit/components/src/components/text-field/index.tsx
  design-toolkit/components/src/components/text-field/text-field.stories.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: changeset
  .changeset/hungry-monkeys-dream.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: tree scaffolding with dynamic items
  design-toolkit/components/src/components/tree/README.md
  design-toolkit/components/src/components/tree/index.tsx
  design-toolkit/components/src/components/tree/tree.stories.tsx
  design-toolkit/components/src/components/tree/types.ts
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add several new predicate functions
  packages/predicates/package.json
  packages/predicates/src/index.ts
  packages/predicates/src/is-equal/index.test.ts
  packages/predicates/src/is-equal/index.ts
  packages/predicates/src/is-greater-equal/index.test.ts
  packages/predicates/src/is-greater-equal/index.ts
  packages/predicates/src/is-greater/index.test.ts
  packages/predicates/src/is-greater/index.ts
  packages/predicates/src/is-in/index.test.ts
  packages/predicates/src/is-in/index.ts
  packages/predicates/src/is-lesser-equal/index.test.ts
  packages/predicates/src/is-lesser-equal/index.ts
  packages/predicates/src/is-lesser/index.test.ts
  packages/predicates/src/is-lesser/index.ts
  packages/predicates/src/is-like/index.test.ts
  packages/predicates/src/is-like/index.ts
  packages/predicates/src/is-not-equal/index.test.ts
  packages/predicates/src/is-not-equal/index.ts
  packages/predicates/src/is-not-in/index.test.ts
  packages/predicates/src/is-not-in/index.ts
  packages/predicates/src/test.setup.ts
  pnpm-lock.yaml
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: copy comments
  packages/bus/src/index.ts
  packages/constants/src/index.ts
  packages/converters/src/index.ts
  packages/core/src/index.ts
  packages/design-system/src/index.ts
  packages/formatters/src/index.ts
  packages/geo/src/index.ts
  packages/math/src/index.ts
  packages/temporal/src/index.ts
  packages/web-worker/src/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb, @kalisjoshua

build: add ts dep
  pnpm-lock.yaml
  tooling/smeegl/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

docs: add additional line calling out spreet dep
  tooling/smeegl/README.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: pr comments
  tooling/smeegl/README.md
  tooling/smeegl/src/lib.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: add even more predicates
  packages/predicates/src/does-not-start-with/index.test.ts
  packages/predicates/src/does-not-start-with/index.ts
  packages/predicates/src/does-start-with/index.test.ts
  packages/predicates/src/does-start-with/index.ts
  packages/predicates/src/index.ts
  packages/predicates/src/is-between/index.test.ts
  packages/predicates/src/is-between/index.ts
  packages/predicates/src/is-not-between/index.test.ts
  packages/predicates/src/is-not-between/index.ts
  packages/predicates/src/is-not-like/index.test.ts
  packages/predicates/src/is-not-like/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: changeset
  .changeset/healthy-melons-check.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

docs: adjust some test comments
  packages/predicates/src/does-not-start-with/index.test.ts
  packages/predicates/src/does-start-with/index.test.ts
  packages/predicates/src/is-between/index.test.ts
  packages/predicates/src/is-equal/index.test.ts
  packages/predicates/src/is-greater-equal/index.test.ts
  packages/predicates/src/is-greater/index.test.ts
  packages/predicates/src/is-in/index.test.ts
  packages/predicates/src/is-lesser-equal/index.test.ts
  packages/predicates/src/is-lesser/index.test.ts
  packages/predicates/src/is-not-between/index.test.ts
  packages/predicates/src/is-not-equal/index.test.ts
  packages/predicates/src/is-not-in/index.test.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

refactor: clean up isBetween function body
  packages/predicates/src/is-between/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: add individual exports for the icons
  apps/next/src/app/buttons.tsx
  design-toolkit/icons/package.json
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: simplify exports for components
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: add changeset
  .changeset/good-dolls-peel.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: add individual export for utils
  design-toolkit/components/package.json
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: add headless component dependency
  design-toolkit/components/package.json
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

feat: add tree component baseline
  design-toolkit/components/src/components/tree/index.tsx
  design-toolkit/components/src/components/tree/tree.css
  design-toolkit/components/src/components/tree/tree.stories.tsx
  design-toolkit/components/src/components/tree/types.ts
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: uncontrolled state and target actions
  design-toolkit/components/src/components/tree/index.tsx
  design-toolkit/components/src/components/tree/tree.css
  design-toolkit/components/src/components/tree/tree.stories.tsx
  design-toolkit/components/src/components/tree/types.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

refactor: swap pred params to be data last
  packages/predicates/src/is-between/index.ts
  packages/predicates/src/is-greater-equal/index.test.ts
  packages/predicates/src/is-greater-equal/index.ts
  packages/predicates/src/is-greater/index.test.ts
  packages/predicates/src/is-greater/index.ts
  packages/predicates/src/is-lesser-equal/index.test.ts
  packages/predicates/src/is-lesser-equal/index.ts
  packages/predicates/src/is-lesser/index.test.ts
  packages/predicates/src/is-lesser/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: changeset
  .changeset/late-news-obey.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

chore: changeset
  .changeset/ninety-impalas-poke.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

feat: add selection mode
  design-toolkit/components/src/components/tree/index.tsx
  design-toolkit/components/src/components/tree/tree.stories.tsx
  design-toolkit/components/src/components/tree/types.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: add selection mode
  design-toolkit/components/src/components/tree/index.tsx
  design-toolkit/components/src/index.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: address type error
  design-toolkit/components/src/components/tree/index.tsx
  design-toolkit/components/src/components/tree/types.ts
Owners: @shadyendless, @switzerb, @brandonjpierce

feat: initial scaffolding
  design-toolkit/components/src/components/menu/index.tsx
  design-toolkit/components/src/components/menu/menu.stories.tsx
  design-toolkit/components/src/components/menu/menu.test.tsx
  design-toolkit/components/src/components/popover/index.tsx
  design-toolkit/components/src/components/popover/popover.stories.tsx
  design-toolkit/components/src/components/popover/popover.test.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: individual exports
  design-toolkit/components/src/components/combobox/combobox.stories.tsx
  design-toolkit/components/src/components/combobox/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

chore: add changeset and change name to TreeView
  .changeset/khaki-emus-teach.md
  design-toolkit/components/src/components/tree-view/index.tsx
  design-toolkit/components/src/components/tree-view/tree.css
  design-toolkit/components/src/components/tree-view/tree.stories.tsx
  design-toolkit/components/src/components/tree-view/types.ts
  design-toolkit/components/src/index.ts
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb

fix: allow prop to set drag capability
  design-toolkit/components/src/components/tree-view/index.tsx
Owners: @shadyendless, @switzerb, @brandonjpierce

fix: z-index reordering and update react-aria overlay lib
  packages/design-system/package.json
  packages/design-system/src/components/menu/menu.css.ts
  packages/design-system/src/components/options/options.css.ts
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

fix: downgrade the overlay lib slightly
  packages/design-system/package.json
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

feat: port dialog to design-tk
  design-toolkit/components/package.json
  design-toolkit/components/src/components/dialog/dialog.stories.tsx
  design-toolkit/components/src/components/dialog/index.tsx
  design-toolkit/components/src/components/dialog/types.ts
  design-toolkit/components/src/index.ts
  pnpm-lock.yaml
Owners: @shadyendless, @switzerb, @brandonjpierce, @belsrc

chore: add changeset
  .changeset/gold-parents-wonder.md
Owners: @brandonjpierce, @belsrc, @shadyendless, @switzerb
