Repository gohypergiant/standard-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

feat: non-react playgrounds for docs
  apps/docs/content/packages/demo-ad-hoc-page.mdx
  apps/docs/lib/playground-plugin-hypergiant.mjs
  apps/docs/package.json
  apps/docs/src/components/playground.tsx
  apps/docs/typedoc.mjs
  packages/constants/typedoc.mjs
  packages/converters/typedoc.mjs
  packages/core/typedoc.mjs
  packages/design-system/typedoc.mjs
  packages/formatters/typedoc.mjs
  packages/geo/typedoc.mjs
  packages/math/typedoc.mjs
  packages/predicates/typedoc.mjs
  packages/temporal/typedoc.mjs
  packages/web-worker/typedoc.mjs
  packages/websocket/typedoc.mjs
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

refactor: function name
  apps/docs/lib/playground-plugin-hypergiant.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

tweak
  apps/docs/lib/playground-plugin-hypergiant.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

types
  apps/docs/lib/playground-plugin-hypergiant.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

Update packages/math/typedoc.mjs
  packages/math/typedoc.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: blockTags option should be in packageOptions object
  apps/docs/typedoc.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: format
  packages/design-system/.storybook/main.ts
  packages/design-system/src/components/button/button.stories.tsx
  packages/design-system/src/components/checkbox/checkbox.stories.tsx
  packages/design-system/src/components/chip/chip.stories.tsx
  packages/design-system/src/components/combo-box/combo-box.stories.tsx
  packages/design-system/src/components/dialog/dialog.stories.tsx
  packages/design-system/src/components/drawer/drawer.stories.tsx
  packages/design-system/src/components/group/group.stories.tsx
  packages/design-system/src/components/icon/icon.stories.tsx
  packages/design-system/src/components/input/input.stories.tsx
  packages/design-system/src/components/menu/menu.stories.tsx
  packages/design-system/src/components/number-field/number-field.stories.tsx
  packages/design-system/src/components/options/options.stories.tsx
  packages/design-system/src/components/picker/picker.stories.tsx
  packages/design-system/src/components/popover/popover.stories.tsx
  packages/design-system/src/components/query-builder/query-builder.stories.tsx
  packages/design-system/src/components/radio/radio.stories.tsx
  packages/design-system/src/components/search-field/search-field.stories.tsx
  packages/design-system/src/components/select/select.stories.tsx
  packages/design-system/src/components/switch/switch.stories.tsx
  packages/design-system/src/components/tabs/tabs.stories.tsx
  packages/design-system/src/components/text-field/text-field.stories.tsx
  packages/design-system/src/components/textarea/textarea.stories.tsx
  packages/design-system/src/components/tooltip/tooltip.stories.tsx
  packages/design-system/src/components/tree/tree.stories.tsx
  packages/design-system/src/styles/surfaces.stories.tsx
  packages/design-system/src/styles/theme.stories.tsx
  packages/design-system/src/styles/typography.stories.tsx
  packages/design-system/vite.config.js
Owners: @ArrayKnight, @switzerb

chore: remove slow hook. mutative hooks must be pre-commit
  lefthook.yml
Owners: @brandonjpierce, @ArrayKnight, @belsrc

chore: better file name
  apps/docs/lib/typedoc-plugin-playground.mjs
  apps/docs/typedoc.mjs
Owners: @brandonjpierce, @ArrayKnight, @belsrc

refactor: 💡 simplify layout, add vertial orientation
  packages/design-system/.ladle/theme/slider.css.ts
  packages/design-system/src/components/slider/index.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
Owners: @ArrayKnight, @switzerb

smol clean up on stories, types
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/types.ts
Owners: @ArrayKnight, @switzerb

fix: 🐛 do not overflow thumb position
  packages/design-system/src/components/slider/slider.css.ts
Owners: @ArrayKnight, @switzerb

resolves build error
  packages/design-system/src/components/slider/index.ts
Owners: @ArrayKnight, @switzerb

🤞 fixes another build issues
  apps/next/src/app/theme.css.ts
  apps/next/src/theme/slider.css.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

removes file imports & broken css file to adjust build issue
  apps/next/src/app/theme.css.ts
  apps/next/src/theme/index.ts
  apps/next/src/theme/slider.css.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

adjusts styles for vertical slider overflow
  packages/design-system/src/components/slider/slider.css.ts
Owners: @ArrayKnight, @switzerb

adds slider to src/theme
  apps/next/src/app/theme.css.ts
  apps/next/src/theme/index.ts
  apps/next/src/theme/slider.css.ts
  packages/design-system/src/vanilla.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

adds missed export for theme file
  apps/next/src/theme/slider.css.ts
  packages/design-system/src/vanilla.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

adds missed export for theme file pt.2
  packages/design-system/src/vanilla.ts
Owners: @ArrayKnight, @switzerb

swaps alignLabel prop name for `layout`
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/vanilla.ts
Owners: @ArrayKnight, @switzerb

addresses export
  packages/design-system/src/components/slider/index.ts
Owners: @ArrayKnight, @switzerb

fixes export again
  packages/design-system/src/components/index.ts
  packages/design-system/src/index.ts
Owners: @ArrayKnight, @switzerb

removes unused styles, makes slider flexible
  apps/next/src/theme/slider.css.ts
  packages/design-system/.ladle/theme/slider.css.ts
  packages/design-system/src/components/slider/slider.css.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

linter fixes
  apps/next/src/theme/slider.css.ts
  packages/design-system/.ladle/theme/slider.css.ts
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.test.tsx
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
  packages/design-system/src/hooks/use-defaults/types.ts
  packages/design-system/src/hooks/use-theme/types.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

fix: 🐛 apply grid area to number fields, expose grouped fields
  packages/design-system/src/components/slider/slider.css.ts
  packages/design-system/src/components/slider/slider.tsx
  packages/design-system/src/components/slider/types.ts
Owners: @ArrayKnight, @switzerb

fixes break in theme/css
  apps/next/src/theme/slider.css.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

refactor: removes buggy tooltip
  packages/design-system/src/components/slider/slider.stories.tsx
  packages/design-system/src/components/slider/slider.tsx
Owners: @ArrayKnight, @switzerb

refactor: removes buggy tooltip, extra import
  packages/design-system/src/components/slider/slider.stories.tsx
Owners: @ArrayKnight, @switzerb

feat: enable listsAsArrays as optional prop
  packages/design-system/src/components/query-builder/query-builder.stories.tsx
  packages/design-system/src/components/query-builder/query-builder.tsx
  packages/design-system/src/components/query-builder/types.ts
Owners: @ArrayKnight, @switzerb

chore: formatting
  packages/design-system/src/components/query-builder/query-builder.stories.tsx
  packages/design-system/src/components/query-builder/types.ts
Owners: @ArrayKnight, @switzerb

feat: non-react playgrounds for docs (#171)
  apps/docs/content/packages/demo-ad-hoc-page.mdx
  apps/docs/lib/typedoc-plugin-playground.mjs
  apps/docs/package.json
  apps/docs/src/components/playground.tsx
  apps/docs/typedoc.mjs
  packages/constants/typedoc.mjs
  packages/converters/typedoc.mjs
  packages/core/typedoc.mjs
  packages/design-system/typedoc.mjs
  packages/formatters/typedoc.mjs
  packages/geo/typedoc.mjs
  packages/math/typedoc.mjs
  packages/predicates/typedoc.mjs
  packages/temporal/typedoc.mjs
  packages/web-worker/typedoc.mjs
  packages/websocket/typedoc.mjs
  pnpm-lock.yaml
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb, @kalisjoshua

fix: remove demo sidebar link for now
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
  biome.json
  lefthook.yml
  packages/design-system/src/components/options/options.css.ts
  packages/design-system/src/components/picker/picker.tsx
  packages/design-system/src/components/popover/popover.css.ts
  packages/design-system/src/components/popover/popover.tsx
  packages/design-system/src/components/tabs/tabs.tsx
  packages/design-system/src/components/textarea/textarea.tsx
  packages/design-system/src/components/tooltip/tooltip.tsx
Owners: @brandonjpierce, @ArrayKnight, @belsrc, @switzerb

fix: baseurl config
  apps/docs/docusaurus.config.ts
Owners: @brandonjpierce, @ArrayKnight, @belsrc

refactor: clean up some linter errors
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.ts
  packages/core/src/types.ts
  packages/core/src/utility/lookup/index.ts
  packages/core/src/utility/once/index.ts
Owners: @belsrc, @brandonjpierce

fix linting errors/warnings; not all of them but most
  packages/core/src/composition/compose/index.ts
  packages/core/src/composition/curry/index.ts
  packages/core/src/composition/pipe/index.ts
  packages/core/src/types.ts
  packages/core/src/utility/lookup/index.ts
  packages/design-system/src/hooks/use-tree/use-tree.ts
  packages/design-system/src/hooks/use-tree/utils.ts
  packages/design-system/src/hooks/use-update-effect/use-update-effect.ts
  packages/geo/src/coordinates/coordinate.ts
  packages/geo/src/coordinates/latlon/internal/coordinate-sytem.ts
  packages/geo/src/coordinates/mgrs/parser.ts
  packages/geo/src/coordinates/utm/parser.ts
  packages/predicates/src/is-noyes/index.bench.ts
  packages/web-worker/src/worker/index.ts
Owners: @belsrc, @brandonjpierce, @ArrayKnight, @switzerb, @kalisjoshua

fix: no outline in input and text area
  packages/design-system/src/components/input/input.css.ts
  packages/design-system/src/components/textarea/textarea.css.ts
Owners: @ArrayKnight, @switzerb

givning up
  packages/core/src/composition/curry/index.ts
  packages/core/src/index.ts
  packages/core/src/utility/lookup/index.ts
  packages/geo/src/coordinates/coordinate.ts
  packages/geo/src/coordinates/latlon/decimal-degrees/system.ts
  packages/geo/src/coordinates/latlon/degrees-decimal-minutes/system.ts
  packages/geo/src/coordinates/latlon/degrees-minutes-seconds/system.ts
  packages/geo/src/coordinates/latlon/internal/coordinate-system.ts
  packages/geo/src/coordinates/mgrs/system.ts
  packages/geo/src/coordinates/utm/system.ts
  packages/predicates/src/is-something/index.ts
Owners: @belsrc, @brandonjpierce, @kalisjoshua, @ArrayKnight

fix: use our children prop instead of racs
  packages/design-system/src/components/tooltip/types.ts
Owners: @ArrayKnight, @switzerb

fix: use strict pascal case
  packages/design-system/src/components/tooltip/types.ts
Owners: @ArrayKnight, @switzerb

chore: add changeset
  .changeset/lucky-chicken-melt.md
Owners: @brandonjpierce, @ArrayKnight, @belsrc

.github/CODEOWNERS:

# Order matters; the last matching pattern takes the most precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Starting off simple and broad.

# Catch all
* @brandonjpierce @ArrayKnight @belsrc

# Core pacakge
/packages/core @belsrc @brandonjpierce

# Design system pacakge
/packages/design-system @ArrayKnight @switzerb

# Geo package
/packages/geo @kalisjoshua @brandonjpierce
